In [10]:
import os
os.listdir()

['.idea', '.ipynb_checkpoints', '2438_3279.csv', 'FuzzyCleaning.ipynb']

In [11]:
import numpy as np
from fuzzywuzzy import fuzz
import pandas
cluster_list = []

In [12]:
df1 = pandas.read_csv("2438_3279.csv")
df1

,subject_id,Day,Month,Year,Inwhatformatisthecollectiondate,Country,Wasthecountrynamespecificallystatedonthelabel,Aregeographiccoordinatespresentonthelabel,Collector1,Collector2,...,Day.1,EndMonth,EndYear,subject_CatalogueIRN,subject_MulIdentifier,subject_MulTitle,subject_MultimediaIRN,subject_EntCatBarcode,subject_SuperFamily,Expo
0,3327422,22,7 - July - VII,1980,The collection date is shown as a single date.,England,No,No,NaN,NaN,...,NaN,NaN,NaN,6500239,010156626_108834_1685214.jpg,010156626_108834_1685214,1482059,10156626,Chalcidoidea,3279
1,3327424,8,10 - October - X,1981,The collection date is shown as a single date.,England,No,No,S.B.,NaN,...,NaN,NaN,NaN,6496833,010156627_108834_1685214.jpg,010156627_108834_1685214,1478605,10156627,Chalcidoidea,3279
2,3327425,8,10 - October - X,1981,The collection date is shown as a single date.,United Kingdom,No,No,S. B.,NaN,...,NaN,NaN,NaN,6501602,010156628_108834_1685214.jpg,010156628_108834_1685214,1483423,10156628,Chalcidoidea,3279
3,3327427,8,10 - October - X,1982,The collection date is shown as a single date.,United Kingdom,No,No,S. B.,NaN,...,NaN,NaN,NaN,6494358,010156629_108834_1685214.jpg,010156629_108834_1685214,1476092,10156629,Chalcidoidea,3279
4,3327428,8,10 - October - X,1982,The collection date is shown as a single date.,United Kingdom,No,No,S.B.,NaN,...,Not Shown,10 - October - X,1982,6500671,010156630_108834_1685214.jpg,010156630_108834_1685214,1482491,10156630,Chalcidoidea,3279
5,3327430,8,10 - October - X,1981,The collection date is shown as a single date.,England,No,No,S. B.,NaN,...,NaN,NaN,NaN,6495639,010156631_108834_1685214.jpg,010156631_108834_1685214,1477415,10156631,Chalcidoidea,3279
6,3327431,27,8 - August - VIII,Only two digits shown,The collection date is shown as a single date.,Not Shown,No,No,Fred Enock,NaN,...,NaN,NaN,NaN,6496345,010156634_108834_1685214.jpg,010156634_108834_1685214,1478121,10156634,Chalcidoidea,3279
7,3327432,NaN,NaN,NaN,There is no collection date.,NaN,No,No,NaN,NaN,...,NaN,NaN,NaN,6499759,010156635_108834_1685214.jpg,010156635_108834_1685214,1481581,10156635,Chalcidoidea,3279
8,3327434,17,8 - August - VIII,NaN,The collection date is shown as a single date.,Not Shown,No,No,[unclear][/unclear],NaN,...,NaN,NaN,NaN,6494094,010156636_108834_1685214.jpg,010156636_108834_1685214,1475774,10156636,Chalcidoidea,3279
9,3327435,23,NaN,NaN,The collection date is shown as a date range.,Not Shown,No,No,[unclear][/unclear],NaN,...,23,7 - July - VII,2008,6501876,010156637_108834_1685214.jpg,010156637_108834_1685214,1483697,10156637,Chalcidoidea,3279
10,3327436,28,6 - June - VI,1911,The collection date is shown as a single date.,Not Shown,No,No,NaN,NaN,...,NaN,NaN,NaN,6497097,010156638_108834_1685214.jpg,010156638_108834_1685214,1478867,10156638,Chalcidoidea,3279
11,3327437,12,8 - August - VIII,1914,The collection date is shown as a single date.,United Kingdom,No,No,C. Waterhouse,NaN,...,NaN,NaN,NaN,6498222,010156641_108834_1737739.jpg,010156641_108834_1737739,1480007,10156641,Chalcidoidea,3279
12,3327439,16,9 - September - IX,1986,The collection date is shown as a single date.,India,Yes,No,NaN,NaN,...,NaN,NaN,NaN,6501040,010156642_108834_1737739.jpg,010156642_108834_1737739,1482861,10156642,Chalcidoidea,3279
13,3327440,16,9 - September - IX,Only two digits shown,The collection date is shown as a single date.,India,Yes,No,Saed Farni[unclear][/unclear],NaN,...,NaN,NaN,NaN,6496010,010156643_108834_1737739.jpg,010156643_108834_1737739,1477786,10156643,Chalcidoidea,3279
14,3327441,5,7 - July - VII,1982,The collection date is shown as a date range.,Scotland,NaN,No,R. S. George,NaN,...,10,7 - July - VII,1982,6494739,010156644_108834_1737739.jpg,010156644_108834_1737739,1476523,10156644,Chalcidoidea,3279
15,3327442,5,7 - July - VII,1982,The collection date is shown as a date range.,Scotland,Yes,No,NaN,NaN,...,10,7 - July - VII,1982,6502531,010156645_108834_1737739.jpg,010156645_108834_1737739,1484352,10156645,Chalcidoidea,3279
16,3327444,Not Shown,Not Shown,1992,The collection date is shown as a single date.,NaN,Yes,No,[unclear][/unclear],[unclear][/unclear],...,NaN,NaN,NaN,6497059,010156646_108834_1737739.jpg,010156646_108834_1737739,1478830,10156646,Chalcidoidea,3279
17,3327445,17,10 - October - X,1982,The collection date is shown as a single date.,Philippines,Yes,No,NaN,NaN,...,NaN,NaN,NaN,6500481,010156647_108834_1737739.jpg,010156647_108834_1737739,1482301,10156647,Chalcidoidea,3279
18,3327446,5,8 - August - VIII,1910,The collection date is shown as a single date.,United Kingdom,No,No,C. Waterhouse,NaN,...,NaN,NaN,NaN,6499666,010156649_108834_1708013.jpg,010156649_108834_1708013,1481485,10156649,Chalcidoidea,3279
19,3327447,8,8 - August - VIII,1910,The collection date is shown as a single date.,Wales,No,No,C. Waterhouse,NaN,...,NaN,NaN,NaN,6497676,010156650_108834_1708013.jpg,010156650_108834_1708013,1479457,10156650,Chalcidoidea,3279
20,3327449,NaN,NaN,NaN,There is no collection date.,Not Shown,No,No,NaN,NaN,...,NaN,NaN,NaN,6498513,010156651_108834_1708013.jpg,010156651_108834_1708013,1480297,10156651,Chalcidoidea,3279
21,3327450,8,10 - October - X,1981,The collection date is shown as a single date.,United Kingdom,No,No,SB,NaN,...,NaN,NaN,NaN,6501593,010156654_108834_1617759.jpg,010156654_108834_1617759,1483414,10156654,Chalcidoidea,3279
22,3327452,8,10 - October - X,1982,The collection date is shown as a single date.,England,No,No,S. B.,NaN,...,NaN,NaN,NaN,6494353,010156655_108834_1617759.jpg,010156655_108834_1617759,1476084,10156655,Chalcidoidea,3279
23,3327453,8,6 - June - VI,1975,The collection date is shown as a single date.,England,Yes,No,Noyes,NaN,...,NaN,NaN,NaN,6496516,010156657_108834_1708013.jpg,010156657_108834_1708013,1478291,10156657,Chalcidoidea,3279
24,3327454,31,7 - July - VII,1977,The collection date is shown as a single date.,England,Yes,No,J. M. Noyes,M. Noyes,...,NaN,NaN,NaN,6502315,010156658_108834_1708013.jpg,010156658_108834_1708013,1484136,10156658,Chalcidoidea,3279
25,3327455,NaN,NaN,NaN,There is no collection date.,Not Shown,No,No,Fred Enock,[unclear][/unclear],...,NaN,NaN,NaN,6495107,010156659_108834_1708013.jpg,010156659_108834_1708013,1476885,10156659,Chalcidoidea,3279
26,3327457,8,10 - October - X,1981,The collection date is shown as a single date.,United Kingdom,No,No,NaN,[unclear][/unclear],...,NaN,NaN,NaN,6495820,010156660_108834_1708013.jpg,010156660_108834_1708013,1477596,10156660,Chalcidoidea,3279
27,3327458,17,8 - August - VIII,1909,The collection date is shown as a single date.,NaN,No,No,C. Waterhouse,NaN,...,NaN,NaN,NaN,6501365,010156661_108834_1708013.jpg,010156661_108834_1708013,1483186,10156661,Chalcidoidea,3279
28,3327460,NaN,NaN,NaN,There is no collection date.,Not Shown,No,No,[unclear][/unclear],[unclear][/unclear],...,NaN,NaN,NaN,6499219,010156663_108834_1708013.jpg,010156663_108834_1708013,1481014,10156663,Chalcidoidea,3279
29,3327461,Not Shown,Not Shown,1919,There is no collection date.,NaN,NaN,No,[unclear][/unclear],[unclear][/unclear],...,Not Shown,Not Shown,Not Shown,6500129,010156664_108834_1708013.jpg,010156664_108834_1708013,1481950,10156664,Chalcidoidea,3279
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4074,3317487,Not Shown,7 - July - VII,1981,The collection date is shown as a single date.,United Kingdom,No,No,C. Vardy,NaN,...,NaN,NaN,NaN,6501292,010156548_108834_1737739.jpg,010156548_108834_1737739,1483113,10156548,Chalcidoidea,2438
4075,3317489,NaN,NaN,NaN,There is no collection date.,Not Shown,No,No,NaN,NaN,...,NaN,NaN,NaN,6502524,010156550_108834_1737739.jpg,010156550_108834_1737739,1484345,10156550,Chalcidoidea,2438
4076,3317490,NaN,NaN,NaN,There is no collection date.,Not Shown,No,No,NaN,NaN,...,NaN,NaN,NaN,6494727,010156551_108834_1737739.jpg,010156551_108834_1737739,1476511,10156551,Chalcidoidea,2438
4077,3317492,27,6 - June - VI,1984,The collection date is shown as a date range.,United Kingdom,Yes,No,Waage,Matthews,...,4,7 - July - VII,1984,6500486,010156552_108834_1737739.jpg,010156552_108834_1737739,1482306,10156552,Chalcidoidea,2438
4078,3317493,27,10 - October - X,Only two digits shown,The collection date is shown as a single date.,NaN,No,No,NaN,NaN,...,NaN,NaN,NaN,6481382,010156585_108834_469404.jpg,010156585_108834_469404,1432015,10156585,Chalcidoidea,2438
4079,3317494,27,6 - June - VI,1984,The collection date is shown as a date range.,United Kingdom,Yes,No,Weage,Matthews,...,4,7 - July - VII,1984,6480925,010156586_108834_469404.jpg,010156586_108834_469404,1431529,10156586,Chalcidoidea,2438
4080,3317496,27,6 - June - VI,1984,The collection date is shown as a date range.,United Kingdom,Yes,No,Waage,Matthews,...,4,7 - July - VII,1984,6480290,010156587_108834_469404.jpg,010156587_108834_469404,1430862,10156587,Chalcidoidea,2438
4081,3317497,15,8 - August - VIII,Only two digits shown,The collection date is shown as a single date.,Not Shown,No,No,NaN,NaN,...,NaN,NaN,NaN,6482648,010156589_108834_469404.jpg,010156589_108834_469404,1433390,10156589,Chalcidoidea,2438
4082,3317498,10,8 - August - VIII,1981,The collection date is shown as a single date.,Not Shown,No,No,NaN,NaN,...,NaN,NaN,NaN,6481400,010156590_108834_469404.jpg,010156590_108834_469404,1432034,10156590,Chalcidoidea,2438
4083,3317499,Not Shown,7 - July - VII,Only two digits shown,The collection date is shown as a single date.,NaN,No,No,NaN,NaN,...,NaN,NaN,NaN,6482197,010156591_108834_469404.jpg,010156591_108834_469404,1432904,10156591,Chalcidoidea,2438
4084,3317502,NaN,NaN,NaN,There is no collection date.,Not Shown,No,No,NaN,NaN,...,NaN,NaN,NaN,6480906,010156593_108834_469404.jpg,010156593_108834_469404,1431509,10156593,Chalcidoidea,2438
4085,3317504,8,10 - October - X,1987,The collection date is shown as a single date.,Not Shown,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6480360,010156594_108834_469404.jpg,010156594_108834_469404,1430937,10156594,Chalcidoidea,2438
4086,3317505,Not Shown,9 - September - IX,NaN,The collection date is shown as a single date.,United Kingdom,No,No,SCB,NaN,...,NaN,NaN,NaN,6481104,010156595_108834_469404.jpg,010156595_108834_469404,1431720,10156595,Chalcidoidea,2438
4087,3317506,8,10 - October - X,Only two digits shown,The collection date is shown as a single date.,United Kingdom,No,No,NaN,NaN,...,NaN,NaN,NaN,6482023,010156596_108834_469404.jpg,010156596_108834_469404,1432716,10156596,Chalcidoidea,2438
4088,3317508,8,10 - October - X,Only two digits shown,The collection date is shown as a single date.,NaN,No,No,NaN,NaN,...,NaN,NaN,NaN,6482590,010156597_108834_469404.jpg,010156597_108834_469404,1433331,10156597,Chalcidoidea,2438
4089,3317509,Not Shown,Not Shown,NaN,The collection date is shown as a single date.,Not Shown,No,No,NaN,NaN,...,NaN,NaN,NaN,6497968,010156601_108834_1685214.jpg,010156601_108834_1685214,1479749,10156601,Chalcidoidea,2438
4090,3317511,NaN,NaN,1981,The collection date is shown as a single date.,Not Shown,No,No,NaN,NaN,...,NaN,NaN,NaN,6501505,010156602_108834_1685214.jpg,010156602_108834_1685214,1483326,10156602,Chalcidoidea,2438
4091,3317512,19,9 - September - IX,Only two digits shown,The collection date is shown as a single date.,Not Shown,No,No,C. Waterhouse,NaN,...,NaN,NaN,NaN,6495971,010156603_108834_1685214.jpg,010156603_108834_1685214,1477747,10156603,Chalcidoidea,2438
4092,3317513,26,8 - August - VIII,Only two digits shown,The collection date is shown as a single date.,Not Shown,No,No,C. Waterhouse,NaN,...,NaN,NaN,NaN,6494989,010156604_108834_1685214.jpg,010156604_108834_1685214,1476769,10156604,Chalcidoidea,2438
4093,3317515,NaN,NaN,1981,The collection date is shown as a date range.,Not Shown,No,No,S.B.,NaN,...,Not Shown,10 - October - X,1981,6480751,010156605_108834_469404.jpg,010156605_108834_469404,1431344,10156605,Chalcidoidea,2438
4094,3317516,8,10 - October - X,1982,The collection date is shown as a single date.,Not Shown,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6501869,010156609_108834_1685214.jpg,010156609_108834_1685214,1483690,10156609,Chalcidoidea,2438
4095,3317518,Not Shown,Not Shown,2011,The collection date is shown as a single date.,Not Shown,No,No,Trup,NaN,...,NaN,NaN,NaN,6495378,010156610_108834_1685214.jpg,010156610_108834_1685214,1477155,10156610,Chalcidoidea,2438
4096,3317519,8,10 - October - X,NaN,The collection date is shown as a single date.,United Kingdom,No,No,NaN,NaN,...,NaN,NaN,NaN,6500941,010156611_108834_1685214.jpg,010156611_108834_1685214,1482762,10156611,Chalcidoidea,2438
4097,3317520,NaN,NaN,NaN,The collection date is shown as a single date.,NaN,No,No,S.B.,NaN,...,NaN,NaN,NaN,6497513,010156612_108834_1685214.jpg,010156612_108834_1685214,1479290,10156612,Chalcidoidea,2438
4098,3317521,7,9 - September - IX,NaN,The collection date is shown as a single date.,NaN,No,No,C.Waterhouse,NaN,...,NaN,NaN,NaN,6498858,010156613_108834_1685214.jpg,010156613_108834_1685214,1480654,10156613,Chalcidoidea,2438
4099,3317522,NaN,NaN,NaN,The collection date is shown as a single date.,NaN,No,No,S. B.,NaN,...,NaN,NaN,NaN,6494354,010156617_108834_1685214.jpg,010156617_108834_1685214,1476086,10156617,Chalcidoidea,2438
4100,3317524,8,10 - October - X,Only two digits shown,The collection date is shown as a single date.,United Kingdom,No,No,NaN,NaN,...,NaN,NaN,NaN,6500235,010156618_108834_1685214.jpg,010156618_108834_1685214,1482055,10156618,Chalcidoidea,2438
4101,3317525,17,7 - July - VII,1911,The collection date is show as a single date.,United Kingdom,No,No,C. Waterhouse,NaN,...,NaN,NaN,NaN,6496823,010156619_108834_1685214.jpg,010156619_108834_1685214,1478595,10156619,Chalcidoidea,2438
4102,3317527,8,10 - October - X,NaN,The collection date is shown as a single date.,NaN,No,No,S.B.,NaN,...,NaN,NaN,NaN,6498247,010156620_108834_1685214.jpg,010156620_108834_1685214,1480032,10156620,Chalcidoidea,2438
4103,3317529,NaN,NaN,NaN,The collection date is shown as a date range.,United Kingdom,No,No,S B,NaN,...,Not Shown,10 - October - X,Only two digits shown,6494694,010156625_108834_1685214.jpg,010156625_108834_1685214,1476478,10156625,Chalcidoidea,2438

Strip out [unclear] flags to stop them all clustering based on that string.

In [13]:
for row in df1.index:
    try:
        df1.iloc[row,8] = df1.iloc[row,8].replace("[unclear]", "")
        df1.iloc[row,8] = df1.iloc[row,8].replace("[/unclear]", "")
        df1.iloc[row,9] = df1.iloc[row,9].replace("[unclear]", "")
        df1.iloc[row,9] = df1.iloc[row,9].replace("[/unclear]", "")
    except AttributeError:
        continue
df1

,subject_id,Day,Month,Year,Inwhatformatisthecollectiondate,Country,Wasthecountrynamespecificallystatedonthelabel,Aregeographiccoordinatespresentonthelabel,Collector1,Collector2,...,Day.1,EndMonth,EndYear,subject_CatalogueIRN,subject_MulIdentifier,subject_MulTitle,subject_MultimediaIRN,subject_EntCatBarcode,subject_SuperFamily,Expo
0,3327422,22,7 - July - VII,1980,The collection date is shown as a single date.,England,No,No,NaN,NaN,...,NaN,NaN,NaN,6500239,010156626_108834_1685214.jpg,010156626_108834_1685214,1482059,10156626,Chalcidoidea,3279
1,3327424,8,10 - October - X,1981,The collection date is shown as a single date.,England,No,No,S.B.,NaN,...,NaN,NaN,NaN,6496833,010156627_108834_1685214.jpg,010156627_108834_1685214,1478605,10156627,Chalcidoidea,3279
2,3327425,8,10 - October - X,1981,The collection date is shown as a single date.,United Kingdom,No,No,S. B.,NaN,...,NaN,NaN,NaN,6501602,010156628_108834_1685214.jpg,010156628_108834_1685214,1483423,10156628,Chalcidoidea,3279
3,3327427,8,10 - October - X,1982,The collection date is shown as a single date.,United Kingdom,No,No,S. B.,NaN,...,NaN,NaN,NaN,6494358,010156629_108834_1685214.jpg,010156629_108834_1685214,1476092,10156629,Chalcidoidea,3279
4,3327428,8,10 - October - X,1982,The collection date is shown as a single date.,United Kingdom,No,No,S.B.,NaN,...,Not Shown,10 - October - X,1982,6500671,010156630_108834_1685214.jpg,010156630_108834_1685214,1482491,10156630,Chalcidoidea,3279
5,3327430,8,10 - October - X,1981,The collection date is shown as a single date.,England,No,No,S. B.,NaN,...,NaN,NaN,NaN,6495639,010156631_108834_1685214.jpg,010156631_108834_1685214,1477415,10156631,Chalcidoidea,3279
6,3327431,27,8 - August - VIII,Only two digits shown,The collection date is shown as a single date.,Not Shown,No,No,Fred Enock,NaN,...,NaN,NaN,NaN,6496345,010156634_108834_1685214.jpg,010156634_108834_1685214,1478121,10156634,Chalcidoidea,3279
7,3327432,NaN,NaN,NaN,There is no collection date.,NaN,No,No,NaN,NaN,...,NaN,NaN,NaN,6499759,010156635_108834_1685214.jpg,010156635_108834_1685214,1481581,10156635,Chalcidoidea,3279
8,3327434,17,8 - August - VIII,NaN,The collection date is shown as a single date.,Not Shown,No,No,,NaN,...,NaN,NaN,NaN,6494094,010156636_108834_1685214.jpg,010156636_108834_1685214,1475774,10156636,Chalcidoidea,3279
9,3327435,23,NaN,NaN,The collection date is shown as a date range.,Not Shown,No,No,,NaN,...,23,7 - July - VII,2008,6501876,010156637_108834_1685214.jpg,010156637_108834_1685214,1483697,10156637,Chalcidoidea,3279
10,3327436,28,6 - June - VI,1911,The collection date is shown as a single date.,Not Shown,No,No,NaN,NaN,...,NaN,NaN,NaN,6497097,010156638_108834_1685214.jpg,010156638_108834_1685214,1478867,10156638,Chalcidoidea,3279
11,3327437,12,8 - August - VIII,1914,The collection date is shown as a single date.,United Kingdom,No,No,C. Waterhouse,NaN,...,NaN,NaN,NaN,6498222,010156641_108834_1737739.jpg,010156641_108834_1737739,1480007,10156641,Chalcidoidea,3279
12,3327439,16,9 - September - IX,1986,The collection date is shown as a single date.,India,Yes,No,NaN,NaN,...,NaN,NaN,NaN,6501040,010156642_108834_1737739.jpg,010156642_108834_1737739,1482861,10156642,Chalcidoidea,3279
13,3327440,16,9 - September - IX,Only two digits shown,The collection date is shown as a single date.,India,Yes,No,Saed Farni,NaN,...,NaN,NaN,NaN,6496010,010156643_108834_1737739.jpg,010156643_108834_1737739,1477786,10156643,Chalcidoidea,3279
14,3327441,5,7 - July - VII,1982,The collection date is shown as a date range.,Scotland,NaN,No,R. S. George,NaN,...,10,7 - July - VII,1982,6494739,010156644_108834_1737739.jpg,010156644_108834_1737739,1476523,10156644,Chalcidoidea,3279
15,3327442,5,7 - July - VII,1982,The collection date is shown as a date range.,Scotland,Yes,No,NaN,NaN,...,10,7 - July - VII,1982,6502531,010156645_108834_1737739.jpg,010156645_108834_1737739,1484352,10156645,Chalcidoidea,3279
16,3327444,Not Shown,Not Shown,1992,The collection date is shown as a single date.,NaN,Yes,No,,,...,NaN,NaN,NaN,6497059,010156646_108834_1737739.jpg,010156646_108834_1737739,1478830,10156646,Chalcidoidea,3279
17,3327445,17,10 - October - X,1982,The collection date is shown as a single date.,Philippines,Yes,No,NaN,NaN,...,NaN,NaN,NaN,6500481,010156647_108834_1737739.jpg,010156647_108834_1737739,1482301,10156647,Chalcidoidea,3279
18,3327446,5,8 - August - VIII,1910,The collection date is shown as a single date.,United Kingdom,No,No,C. Waterhouse,NaN,...,NaN,NaN,NaN,6499666,010156649_108834_1708013.jpg,010156649_108834_1708013,1481485,10156649,Chalcidoidea,3279
19,3327447,8,8 - August - VIII,1910,The collection date is shown as a single date.,Wales,No,No,C. Waterhouse,NaN,...,NaN,NaN,NaN,6497676,010156650_108834_1708013.jpg,010156650_108834_1708013,1479457,10156650,Chalcidoidea,3279
20,3327449,NaN,NaN,NaN,There is no collection date.,Not Shown,No,No,NaN,NaN,...,NaN,NaN,NaN,6498513,010156651_108834_1708013.jpg,010156651_108834_1708013,1480297,10156651,Chalcidoidea,3279
21,3327450,8,10 - October - X,1981,The collection date is shown as a single date.,United Kingdom,No,No,SB,NaN,...,NaN,NaN,NaN,6501593,010156654_108834_1617759.jpg,010156654_108834_1617759,1483414,10156654,Chalcidoidea,3279
22,3327452,8,10 - October - X,1982,The collection date is shown as a single date.,England,No,No,S. B.,NaN,...,NaN,NaN,NaN,6494353,010156655_108834_1617759.jpg,010156655_108834_1617759,1476084,10156655,Chalcidoidea,3279
23,3327453,8,6 - June - VI,1975,The collection date is shown as a single date.,England,Yes,No,Noyes,NaN,...,NaN,NaN,NaN,6496516,010156657_108834_1708013.jpg,010156657_108834_1708013,1478291,10156657,Chalcidoidea,3279
24,3327454,31,7 - July - VII,1977,The collection date is shown as a single date.,England,Yes,No,J. M. Noyes,M. Noyes,...,NaN,NaN,NaN,6502315,010156658_108834_1708013.jpg,010156658_108834_1708013,1484136,10156658,Chalcidoidea,3279
25,3327455,NaN,NaN,NaN,There is no collection date.,Not Shown,No,No,Fred Enock,,...,NaN,NaN,NaN,6495107,010156659_108834_1708013.jpg,010156659_108834_1708013,1476885,10156659,Chalcidoidea,3279
26,3327457,8,10 - October - X,1981,The collection date is shown as a single date.,United Kingdom,No,No,NaN,[unclear][/unclear],...,NaN,NaN,NaN,6495820,010156660_108834_1708013.jpg,010156660_108834_1708013,1477596,10156660,Chalcidoidea,3279
27,3327458,17,8 - August - VIII,1909,The collection date is shown as a single date.,NaN,No,No,C. Waterhouse,NaN,...,NaN,NaN,NaN,6501365,010156661_108834_1708013.jpg,010156661_108834_1708013,1483186,10156661,Chalcidoidea,3279
28,3327460,NaN,NaN,NaN,There is no collection date.,Not Shown,No,No,,,...,NaN,NaN,NaN,6499219,010156663_108834_1708013.jpg,010156663_108834_1708013,1481014,10156663,Chalcidoidea,3279
29,3327461,Not Shown,Not Shown,1919,There is no collection date.,NaN,NaN,No,,,...,Not Shown,Not Shown,Not Shown,6500129,010156664_108834_1708013.jpg,010156664_108834_1708013,1481950,10156664,Chalcidoidea,3279
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4074,3317487,Not Shown,7 - July - VII,1981,The collection date is shown as a single date.,United Kingdom,No,No,C. Vardy,NaN,...,NaN,NaN,NaN,6501292,010156548_108834_1737739.jpg,010156548_108834_1737739,1483113,10156548,Chalcidoidea,2438
4075,3317489,NaN,NaN,NaN,There is no collection date.,Not Shown,No,No,NaN,NaN,...,NaN,NaN,NaN,6502524,010156550_108834_1737739.jpg,010156550_108834_1737739,1484345,10156550,Chalcidoidea,2438
4076,3317490,NaN,NaN,NaN,There is no collection date.,Not Shown,No,No,NaN,NaN,...,NaN,NaN,NaN,6494727,010156551_108834_1737739.jpg,010156551_108834_1737739,1476511,10156551,Chalcidoidea,2438
4077,3317492,27,6 - June - VI,1984,The collection date is shown as a date range.,United Kingdom,Yes,No,Waage,Matthews,...,4,7 - July - VII,1984,6500486,010156552_108834_1737739.jpg,010156552_108834_1737739,1482306,10156552,Chalcidoidea,2438
4078,3317493,27,10 - October - X,Only two digits shown,The collection date is shown as a single date.,NaN,No,No,NaN,NaN,...,NaN,NaN,NaN,6481382,010156585_108834_469404.jpg,010156585_108834_469404,1432015,10156585,Chalcidoidea,2438
4079,3317494,27,6 - June - VI,1984,The collection date is shown as a date range.,United Kingdom,Yes,No,Weage,Matthews,...,4,7 - July - VII,1984,6480925,010156586_108834_469404.jpg,010156586_108834_469404,1431529,10156586,Chalcidoidea,2438
4080,3317496,27,6 - June - VI,1984,The collection date is shown as a date range.,United Kingdom,Yes,No,Waage,Matthews,...,4,7 - July - VII,1984,6480290,010156587_108834_469404.jpg,010156587_108834_469404,1430862,10156587,Chalcidoidea,2438
4081,3317497,15,8 - August - VIII,Only two digits shown,The collection date is shown as a single date.,Not Shown,No,No,NaN,NaN,...,NaN,NaN,NaN,6482648,010156589_108834_469404.jpg,010156589_108834_469404,1433390,10156589,Chalcidoidea,2438
4082,3317498,10,8 - August - VIII,1981,The collection date is shown as a single date.,Not Shown,No,No,NaN,NaN,...,NaN,NaN,NaN,6481400,010156590_108834_469404.jpg,010156590_108834_469404,1432034,10156590,Chalcidoidea,2438
4083,3317499,Not Shown,7 - July - VII,Only two digits shown,The collection date is shown as a single date.,NaN,No,No,NaN,NaN,...,NaN,NaN,NaN,6482197,010156591_108834_469404.jpg,010156591_108834_469404,1432904,10156591,Chalcidoidea,2438
4084,3317502,NaN,NaN,NaN,There is no collection date.,Not Shown,No,No,NaN,NaN,...,NaN,NaN,NaN,6480906,010156593_108834_469404.jpg,010156593_108834_469404,1431509,10156593,Chalcidoidea,2438
4085,3317504,8,10 - October - X,1987,The collection date is shown as a single date.,Not Shown,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6480360,010156594_108834_469404.jpg,010156594_108834_469404,1430937,10156594,Chalcidoidea,2438
4086,3317505,Not Shown,9 - September - IX,NaN,The collection date is shown as a single date.,United Kingdom,No,No,SCB,NaN,...,NaN,NaN,NaN,6481104,010156595_108834_469404.jpg,010156595_108834_469404,1431720,10156595,Chalcidoidea,2438
4087,3317506,8,10 - October - X,Only two digits shown,The collection date is shown as a single date.,United Kingdom,No,No,NaN,NaN,...,NaN,NaN,NaN,6482023,010156596_108834_469404.jpg,010156596_108834_469404,1432716,10156596,Chalcidoidea,2438
4088,3317508,8,10 - October - X,Only two digits shown,The collection date is shown as a single date.,NaN,No,No,NaN,NaN,...,NaN,NaN,NaN,6482590,010156597_108834_469404.jpg,010156597_108834_469404,1433331,10156597,Chalcidoidea,2438
4089,3317509,Not Shown,Not Shown,NaN,The collection date is shown as a single date.,Not Shown,No,No,NaN,NaN,...,NaN,NaN,NaN,6497968,010156601_108834_1685214.jpg,010156601_108834_1685214,1479749,10156601,Chalcidoidea,2438
4090,3317511,NaN,NaN,1981,The collection date is shown as a single date.,Not Shown,No,No,NaN,NaN,...,NaN,NaN,NaN,6501505,010156602_108834_1685214.jpg,010156602_108834_1685214,1483326,10156602,Chalcidoidea,2438
4091,3317512,19,9 - September - IX,Only two digits shown,The collection date is shown as a single date.,Not Shown,No,No,C. Waterhouse,NaN,...,NaN,NaN,NaN,6495971,010156603_108834_1685214.jpg,010156603_108834_1685214,1477747,10156603,Chalcidoidea,2438
4092,3317513,26,8 - August - VIII,Only two digits shown,The collection date is shown as a single date.,Not Shown,No,No,C. Waterhouse,NaN,...,NaN,NaN,NaN,6494989,010156604_108834_1685214.jpg,010156604_108834_1685214,1476769,10156604,Chalcidoidea,2438
4093,3317515,NaN,NaN,1981,The collection date is shown as a date range.,Not Shown,No,No,S.B.,NaN,...,Not Shown,10 - October - X,1981,6480751,010156605_108834_469404.jpg,010156605_108834_469404,1431344,10156605,Chalcidoidea,2438
4094,3317516,8,10 - October - X,1982,The collection date is shown as a single date.,Not Shown,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6501869,010156609_108834_1685214.jpg,010156609_108834_1685214,1483690,10156609,Chalcidoidea,2438
4095,3317518,Not Shown,Not Shown,2011,The collection date is shown as a single date.,Not Shown,No,No,Trup,NaN,...,NaN,NaN,NaN,6495378,010156610_108834_1685214.jpg,010156610_108834_1685214,1477155,10156610,Chalcidoidea,2438
4096,3317519,8,10 - October - X,NaN,The collection date is shown as a single date.,United Kingdom,No,No,NaN,NaN,...,NaN,NaN,NaN,6500941,010156611_108834_1685214.jpg,010156611_108834_1685214,1482762,10156611,Chalcidoidea,2438
4097,3317520,NaN,NaN,NaN,The collection date is shown as a single date.,NaN,No,No,S.B.,NaN,...,NaN,NaN,NaN,6497513,010156612_108834_1685214.jpg,010156612_108834_1685214,1479290,10156612,Chalcidoidea,2438
4098,3317521,7,9 - September - IX,NaN,The collection date is shown as a single date.,NaN,No,No,C.Waterhouse,NaN,...,NaN,NaN,NaN,6498858,010156613_108834_1685214.jpg,010156613_108834_1685214,1480654,10156613,Chalcidoidea,2438
4099,3317522,NaN,NaN,NaN,The collection date is shown as a single date.,NaN,No,No,S. B.,NaN,...,NaN,NaN,NaN,6494354,010156617_108834_1685214.jpg,010156617_108834_1685214,1476086,10156617,Chalcidoidea,2438
4100,3317524,8,10 - October - X,Only two digits shown,The collection date is shown as a single date.,United Kingdom,No,No,NaN,NaN,...,NaN,NaN,NaN,6500235,010156618_108834_1685214.jpg,010156618_108834_1685214,1482055,10156618,Chalcidoidea,2438
4101,3317525,17,7 - July - VII,1911,The collection date is show as a single date.,United Kingdom,No,No,C. Waterhouse,NaN,...,NaN,NaN,NaN,6496823,010156619_108834_1685214.jpg,010156619_108834_1685214,1478595,10156619,Chalcidoidea,2438
4102,3317527,8,10 - October - X,NaN,The collection date is shown as a single date.,NaN,No,No,S.B.,NaN,...,NaN,NaN,NaN,6498247,010156620_108834_1685214.jpg,010156620_108834_1685214,1480032,10156620,Chalcidoidea,2438
4103,3317529,NaN,NaN,NaN,The collection date is shown as a date range.,United Kingdom,No,No,S B,NaN,...,Not Shown,10 - October - X,Only two digits shown,6494694,010156625_108834_1685214.jpg,010156625_108834_1685214,1476478,10156625,Chalcidoidea,2438

Extract the collector columns and get rid of any duplicates:

In [14]:
name_set = set(df1["Collector1"])
name_set |= set(df1["Collector2"])
name_list = list(name_set)
i = 0
for name in name_list:
    i+= 1

print("Size of unique name list: " + str(i))

Size of unique name list: 1280

The function below takes the name_list we created in the last cell and clusters 'similar' names together in a new 2D list:

In [15]:
def token_set_clustering(input_list):
    checked = []

    for name in input_list:
        cluster = []

        # Create a new list of names we haven't encountered so far + turn into a list
        unchecked_list = np.setdiff1d(input_list, checked, assume_unique=True).tolist()

        # Go through each 'new' name and check for similarity against current name
        for unchecked_name in unchecked_list:
            # Only consider if similar enough and new to this iteration
            if (fuzz.token_set_ratio(name, unchecked_name) >= 90) and (unchecked_name not in checked):
                checked.append(unchecked_name)
                cluster.append(unchecked_name)

        if len(cluster) != 0:
            cluster_list.append(cluster)

In [16]:
token_set_clustering(name_list)
print("Number of names after clustering: " + str(len(cluster_list)))
cluster_list.sort()

for name_list in cluster_list:
    print(name_list)

Number of names after clustering: 732
['125']
['A Chavez']
['A Hamon']
['A Postle']
['A wogumi']
['A. Aguias']
['A. Busck']
['A. C. Eyles', 'A.C. Eyles']
['A. C. Jashi']
['A. Donev']
['A. Garido']
['A. Harvey', 'A Harvey']
['A. K. Waler']
['A. Lopez-Avila']
['A. Michelmore', 'A.Michelmore', 'A.P.G. Michelmore']
['A. Mohyuddin', 'A, Mohyuddin CIBC leg.', 'A.Mohyuddin', 'A. Mohyuddin CIBC', 'A Mohyuddin CIBC leg', 'A. Mohyuddin CIBC leg.']
['A. Moore']
['A. POLASZEK', 'A. Polaszak', 'Polaszek', 'A Polaszek', 'A. Polarsek', 'A. Polaszek et al.', 'A.Polsazek', 'A. Polaszek', 'A.Polaszek', 'A. Polaslek']
['A. Polac. E', 'A. Polac. E.']
['A. Potos']
['A. Singh']
['A. T. Barron', 'A.T.BARRION', 'A.T. Barrion', 'A.T.Barrion']
['A. Tullgren', 'A. Tullgren & Ahlberg']
['A. Whitwell']
['A. van Harten']
['A.Aguiar']
['A.Broadbank', 'A. Broodbank']
['A.Hutson']
['A.I. Steven', 'A.I.Steven']
['A.K.Walker', 'AK Walker', 'collinus Walker', 'Auripes Walker', 'N.A.Walker', 'A. K. Walker', 'N.A. Walker', 'A.K. Walker', 'H. K Walker', 'regulus Walker']
['A.O. Bachmaun']
['A.P. Vü. g', 'A.P. col.', 'A P Prep']
['A.Saldarriaga']
['A.T. Barvion']
['AP & Ehdez']
['AP M 3i', 'Ap', 'AP']
['Addeman']
['Alas Project']
['Aleuroclava Rasekh']
['Alex. Huba']
['Ali K. Al-Wahaibi']
['Alvaro Chavez']
['Andhra Prad.']
['Antonio']
['Atma Ram']
['Awbridge']
['Azad Kastir']
['Azedarach']
['B Calman']
['B Pantua Jr.']
["B. A. O'Connor"]
['B. Apostol']
['B. Blackbourn', 'B Blackbourn']
['B. Blackbrown']
['B. Brown']
['B. Firsov']
['B. Franzman', 'B.Franzmann', 'B. Franzmann']
['B. R. Bartlett']
['B. R. S. Rao', 'B . R . S . Rao', 'B.R.S. Rao', 'B. R. S Rao']
['B. R. S. Raodul', 'B.R.S. ', 'B.R.S.']
['B. R. Subba Raodal']
['B. R. Subba Ras', 'B. R. Subba Rae']
['B. Reynaud']
['B. Tripathi', 'G . Tripathi', 'G. Tripathi']
['B.A. Holloway']
['B.Cogan']
['B.F.U.P. Littes', 'B.F.U.P.Litter']
['B.G.Hill', 'B. Hill', 'B.HILL']
['B.I.P.Barratt']
['B.Krishnan']
['B.M. Damar']
['B.M.May', 'B. M. May', 'B .M. May', 'B.M. May']
['B.Munir', 'B. Munir']
['B.R. Subba Rao (det. 1969)', 'Subba Rao']
['B.R. Subba Rui']
['B.R.R.K.']
['B.Tshumakova', 'B. Tshumakova']
['BS']
['Bahram Rasekh', 'Rasekh']
["Baki Ali (ABdul Baki)'s #A.d.", 'Abdul Baki', 'Baki Ali', 'Baki Ali (Abdul-Baki)', "Baki Ali's (Abdul-Baki's)", "Baki Ali (Abdul-Baki)'s"]
['Baki Ali (Abdul-Badi)']
['Banu Q']
['Benjamin']
['Boncek']
['Bookam']
['Bouaka']
['Boucek,Noyes', 'Boucek', 'Nayes & Boucek']
['Budi Agung']
['C Dane']
['C F Butcher', 'C.F.Butcher', 'C. F. Butcher']
['C Wadenhouse']
['C. Andrews']
['C. Casiro']
['C. Fangsia']
['C. Ferrugia']
['C. H. Rendell', 'M. Ashmole, H. Mendel, E. Thorpe', 'H. Elekcioglu', 'H. Evans', 'H.Steinitz', 'H. Sauke', 'H. Clebsch', 'H.Kajita', 'J.H.M', 'H. Clebsch.', 'H. Nagaraja', 'J. H. M.', 'C. H. Rendall', 'H. Compere', 'H. Disney', 'M.H. Campbell', 'J. H. Glenn', 'C.H.T. Townsend', 'C,H.T. Townsend', 'H Kajita', 'C. H. Randall', 'Cecil H. Ison.', 'H. Kajitā', 'J. J. H. Szent-Ivany', 'H. Alemansoor', 'H. Goulet', 'H.E. Box', 'H. T. Pagden', 'S H Glenn', 'C. H. T. Towsend', 'H.L. Dozier', 'G.H. Tripathi', 'H.T.Pagden', 'J.H.M.', 'H. -P. Heckroth', 'H. Steinitz', 'H Clebsch', 'H. T. Pagdeu', 'H. J. Hockings', 'H. Kajita', 'H.L.Dozier']
['C. J. Cilliers', 'C.J.Cilliers']
['C. Kok']
['C. Kudagamage', 'C.Kudagamage']
['C. Manalache']
['C. Manolacha', 'C. Manolache']
['C. Miguel', 'C. Migue']
['C. Smee', 'C. Smee.']
['C. peter', 'C. Peter']
['C.B. WILLIAMS', 'C. B. Williams', 'C. B. Williams.', 'C.B.Williams', 'C.B Williams', 'C.B. Williams']
['C.Chalcites']
['C.D. Zhu']
['C.I.B.C.', 'C.I.B.C. station', 'G.I.B.C']
['C.J. Morning', 'C.J.Horning', 'C. J. Horning', 'C J Horning', 'C . J . Horning']
['C.J.C. Pool', 'M. C.J.C. Pool']
['C.L. Tan', 'C. L. Tan', 'C.L.Tan']
['C.R.Satpathi']
['C.V.Gannes', 'C.V. Gannes', 'G. V. Gannes']
['CIBC St.']
['CIBC.-1S']
['CLC Pool']
['CT']
['Cent.Bio.Cont.Sta.W. Bengal', 'Cent. Bio. Cont. Sta. W. Bengal']
['Cerbonelly Zalessi']
['Ch Ferriere']
['Charles Owen Waterhouse']
['Cheke']
['Clement Peter']
['Cocha Harry Evans']
['Coll M. Jagroep']
['Coll. M. Hayak']
['Costa Teguise']
['CuMack ']
['Cultack']
['Curtis']
['Cutlack']
['D Briceno']
['D Friesa']
['D Jackson', 'D. Jackson', 'D.Jackson']
['D Smith', 'D. Smith']
['D. Abeeluck']
['D. Allen']
['D. Headrick']
['D. J. Greathead']
['D. J. Taylor', 'J.S.Taylor', 'J.S. Taylor']
['D. Janzen']
['D. P. Pielou']
['D. Rubi']
['D. S. Hill']
['D. Sartiami']
['D.Gonzalez', 'R. Gonzalez', 'A. Gonzalez']
['D.Henshaw']
['D.J.Atkinson']
['D.M. Dunbar']
['D.M. Nutt.']
['D.N. Brown', 'D. N. Brown']
['D.P Anneoke', 'D. P. Annecke', 'D.P.Annecke', 'D.P. Annecke']
['D.S.Barrion']
['D.T.Fallaway', 'D.T Fullaway', 'D.T.Fullaway']
['DOULT']
['DRS RAO']
['Daffalla E. Yousof']
['Davis']
['Dawhenya Mob']
['De Santis']
['Del Pino']
['Demerara']
['Det. D. P. Annecke', 'D. Annecke', 'C.P. Annecke', 'annecke']
['Dharwal']
['Dhirkot, Azad Kashmir', 'Azad Kashmir']
['Dietrich']
['Dietrick']
['Div. of Entomology.']
['Dr Calman']
['Dr J Meyer']
['Dr. B. N. Blood', 'B.N. Blood', 'B.N.Blood', 'Dr B.N. Blood Coll']
['Dr. S. Leafmans', 'Dr. S. Leefmans']
['Dr. S. Leefmaus']
['Druizen']
['E C Dahms']
['E F Riek', 'F.E.']
['E Hasel']
['E Hdez', 'E.Hdez', 'E. Hdez', 'E. Hdz']
['E. CHOUVAKHINA', 'E. Chouvakhina', 'E Chouvakhina']
['E. D. Thomas']
['E. Danzig']
['E. Funes']
['E. Guerrieri']
['E. Hernandez-Suarez', 'E. Hernandez', 'E. M. Hernandez', 'E.M. Hernandez', 'Polaszek/Hernandez-Suarez', 'E. Hernandez-Suarez col.', 'E.M. Hernandez-Suarez', 'E.Hernandez-Suarez col', 'E.Hernandez-Suarez', 'E.Hernandez', 'A. & E.M. Hernandez-Suarez', 'Hernandez-Suarez', 'E M hernandez']
['E. Holder']
['E. Holz']
['E. Jacobson']
['E. Luft Albarracin', 'E. Luft-Albarracin']
['E. Shevtsova']
['E. Stepanov']
['E.B.L. Mateca']
['E.C.G. Bedford']
['E.D.L. Matega', 'E.D.L.Matega', 'E. D. L. Mattega']
['E.E. Green', 'E.E.Green', 'E. E. Green']
['E.E. Magi-Guacu']
['E.Hoh']
['E.J.Hambleton']
['E.J.MacGill']
['E.M. Fisher Colls']
['E.R.Oatman', 'E. R. Oatman']
['E.W. Valentine', 'E. W. Valentine', 'j.s. noyes&e.w.valentine', 'E.W.Valentie', 'E.W Valentine', 'E.W.Valentine', 'EW Valentine']
['EC Dahms']
['EH2+']
['EHd']
['EHd2']
['EHdZ', 'EHdz']
['EHda']
['EHdt', 'ehdt']
['El Hierro Frontera']
['Encartia Transvena']
['Encom. Div. Agric. Dept.', 'Agric', 'Entorm. Div. Agric. Dept', 'Entom. Div. Agric. Dept.']
['Enlamia']
['EtbH']
['Etdt']
['F D. Btnk']
['F Diaz']
['F Holz']
['F. Aguiar']
['F. B. Bennett', 'Merida F.D. Bennett', 'Col F D Bennett', 'F.Bennett', 'F. Bennett']
["F. D. B'nk", "F D B'nk"]
['F. D. Bannett', 'F.D.BENNETT', 'F. D. Bennett', 'F.D. Bennett', 'F D Bennett', 'F.D.Bennett', 'F.D Bennett']
['F. Enock']
['F. Ferragut']
['F. J. Simmonds']
['F. O. Bink']
['F. Plaumann', 'F. Plaumann Coll', 'F. Pllaumann', 'F Plaumann', 'F. Plaumann coll', 'F Plaumann Coll', 'F.Plaumann', 'F. Plaumann Coll.', 'F. Playumann']
['F. Posada']
['F. Schneider']
['F.D. & R.W.']
['F.D. Bok']
['F.D.Bink', 'F. Bink', 'F.D. Bink']
['F.D.Rennett']
['F.Umana']
['F.W. Quednau', 'F. W. Quednau']
['FD Bennett']
['Farnham C.']
['Federal Land Dev. Authority, Pahang', 'Federal Land Dev. Authority']
['Femes']
['Fenster']
['Filton']
['Filton & Noyes', 'JS NOYES', 'J.S.Noyes', 'Rose / Noyes', 'Noyes, Hiddleston', 'J. S. Noyes', 'J.S Noyes', 'J. Noyes', 'JS Noyes', 'J.S. Noyes, PT', 'J. S. Noyes.', 'j s noyes', 'J.S. Noyes MT/YPT', 'J.Noyes', 'J.S. Noyes', 'J S Noyes', 'J Noyes']
['Fingal', 'Hobart & Fingal']
['Fitton']
['Fred Bennetti']
['Fredc Enoch', 'FREDS ENOCH', 'Fredc Encoh']
['Frederick Enock']
['Fritz Plaumann.', 'Fritz Plaumann']
['Fémes']
['G Burnip', 'G.Burnip']
['G Kohler', 'G. Köhler', 'G Köhler']
['G Pierrard']
['G Tribe', 'G. Tribe']
['G. Bolchi']
['G. Butler']
['G. Gordh']
['G. J. Kerrich']
['G. Kohles']
['G. Kung']
['G. Murugan of Loyola college']
['G. R. Varlky']
['G. Schcibelreitor']
['G. Scheibelveiter', 'G. Scheibelreiter']
['G. Sutechi']
['G. TripatMi']
['G. Viggiam']
['G. W. Ramsay', 'G.W. Ramsay']
['G.H. Corbett', 'G.H.Corbett.', 'G. H. Corbett', 'G.H.Corbett', 'EntDiv. per G.H.Corbett']
['G.J. Snowball', 'G. J.Snowball', 'G.J.Snowball']
['G.M. Das']
['G.M. Teipathi']
['G.R. Else']
['G.S. Cotterell', 'G,S, Cotterell', 'G. S. Cotterell', 'G.S.Cotterell', 'G. S. Cottereli']
['G.Salt.', 'G. Salt']
['G.W.Watson']
['GL Prinsloo', 'G.L. Prinsloo', 'G. L. Prinsloo']
['GRRG']
['GRS Ochiel']
['GWG de Monacs']
['GWG de Moraes']
['Garonna']
['Gaulet']
['Geqiu Liang']
['Goring']
['Goulet']
['Gregerie Bondar']
['Gregorio Bondar']
['Guia de Isora']
['H. J. Bishop', 'HJ Bishop']
['H. Kaji']
['H. Roberts, MAFF', 'H. Roberts']
['H. Seyedoleslami', 'H. Seyedoleslani']
['H. W. Browning', 'H. Browning']
['H.P.Insley', 'H.O Insley', 'H.P. Insley', 'HP Insley', 'H. P.', 'H. P. Insley', 'M. P. Insley', 'H P Insley', 'H.P. Insleyi', 'H.P Insley']
['H.W.Simmons ', 'H.W.Simmonds', 'H.W. Simmonds', 'H. W. Simmonds']
['Hack', 'C.U Hack']
['Hagat']
['Hall']
['Hanifah']
['Heyot K Verma']
['Hizume']
['Houcia']
['Huda N']
['Hym']
['I Gould']
['I. Gerling']
['I. Manila']
['I. McBurney', 'J McBurney', 'J. McBurney']
['I. Naumann']
['I. Naurnann']
['I. T. S.']
['I. WALKER', 'walker', 'Walker', 'I. Walker']
['I.D. Gauld']
['I.G. Varela', 'I.G.Varela', 'I. G. Varela']
['ICIA insectary']
['Illegible']
['Indian Inst. Hort. Res.']
['J B Woolley']
['J C Watt', 'J.C.Watt', 'J.C. Watt', 'J. C. Watt']
['J F de Villiers']
['J H Martin', 'J.H.Martin', 'J. Martin', 'J Martin', 'J.H. Martin']
['J Risbec', 'J. Risbec']
['J. A. Coates Palgrave']
['J. Allman']
['J. Cardale', 'J Cardale']
['J. D. Pinto']
['J. E. ']
['J. Erdös', 'J. Erdos']
['J. Etienne', 'J.Etienne', 'J. Etienne leg']
['J. F. Longworth']
['J. Fehan']
['J. Ghesquiere', 'J Ghesquiere', 'J. Ghesquière', 'F. Ghesquiere']
['J. Heraty']
['J. I. Townsend']
['J. Irish']
['J. L. Froggatt', 'J.L. Froggatt', 'J.L Froggott', 'J.L.Froggatt']
['J. Lasalle']
['J. NAYES']
['J. Nechols']
['J. P. Kryger', 'J.J. Kryger']
['J. Peck', 'S & J Peck', 'J Peck', 'S&J Peck']
['J. Pijnakker']
['J. Rodriguez']
['J. S. Dugdale', 'J.S. Dugdale', 'J.S.Dugdale']
['J. Solano']
['J. Ugaide']
['J. W. Ismay']
['J. Yaninek']
['J.A. Azofeifa']
['J.A. Ubeku']
['J.B. Wodley', 'J.B.Wooley']
['J.C. Hutson', 'J. C. Hutson']
['J.C. Kershaw']
['J.C.Charles', 'J.C. Charles']
['J.D.Knight']
['J.J. Dymock']
['J.Jones']
['J.K. Close', 'J.K Close Call']
['J.K. Jonathan']
['J.L. Fisher Colls']
['J.L.T.']
['J.Munting', 'J. Munting']
['J.N. Thakur', 'J. N. Thakur', 'J.N.Thakur']
['J.O.Evans']
['J.P.Bournier']
['J.R. Bovell', 'J.R. Borell', 'JR Bovell']
['J.S. Noyce']
['J.S.Edwards', 'J. S. Edwards', 'J . S . Edwards']
['J.T. Huber', 'Huber', 'J. T. Huber', 'J.T.Huber', 'J.T Huber']
['J.T.K ']
['J.T.Knyger ', 'J.T.Kryger']
['J.W. Kim']
['JB Wooley']
['JH Martin']
['JHM & Ehdez', 'JHM', 'EHdez', 'Ehdez']
['JSN']
['Javensis Howard']
['Jian Huang', 'Huang']
['John D. Pinto']
['Joshimath']
['K. A. Sahad']
['K. B. Reddy']
['K. C. Chou']
['K. Heinze']
['K. Hoelmer']
['K. M. VenKatesh']
['K. Regio']
['K. Yasumatsu']
['K.G. Hozfade']
['K.T. Ribeiro']
['K.Thorpe']
['KS CART']
['KS Hemachandra']
['Karen Mogensen', 'R.P. Karen Mogensen', 'R. P. Karen Mogensen', 'Karen Morgensen']
['Kashmirensis Narayanan']
['Kew']
['Khan']
['Kisii']
['Koppert BV']
['Kubota Sakae']
['L A Mound', 'L. A. Mound', 'L.A. Mound', 'L.A. MOUND', 'L.A. Moud ', 'L.A.Mound']
['L. Amorim']
['L. Huggert']
['L. Valencia', 'Valencia col.']
['L.J. Jimenez']
['L.Kirfon']
['L.Kirton.', 'L Kirton', 'Kirton', 'L.Kirton', 'L. Kirton']
['L.Shaltiel', 'L. Shaltiel']
['La Aldea']
['Lab Istad']
['Lac Research Inst.']
['Laumeeri']
['Lemmi']
['Li Chengde', 'Li Chegde']
['Lleitrid']
['M C Day', 'M. Day']
['M Malhoub']
['M. A. Ghani', 'M.A. Ghanie']
['M. A. Oliver', 'H.A Oliver']
['M. B. Potter', 'N.B.Potter']
['M. Benitz']
['M. C. Ba']
['M. Cock', 'M.Cock']
['M. Coombs']
['M. Cytrynowicz']
['M. G. Hill']
['M. Gia']
['M. Hayat', 'Hayat', 'm hayat', 'Coll.M.Hayat', 'M Hayat', 'M. Hayat.', 'M.Hayat', 'M hayat', 'Coll. M. Hayat.']
['M. Hayet']
['M. I. Chacko', 'M. J. Chacko']
['M. Ishii - Eiterman', 'Eiterman']
['M. Ishin ']
['M. Ishu Eitermann']
['M. Jones']
['M. Kairo']
['M. Kamal']
['M. Karny']
['M. Kelly']
['M. Noyes', 'Noyes', 'J S Noyes B M 1979-518', 'J. M. Noyes', 'ME Noyes']
['M. Perez']
['M. Rifat Ulusay', 'M.Rifat Ulusay', 'M Rifat Ulusoy']
['M. Sanborne']
['M. Schamff']
['M. Sharkey']
['M. Stripe']
['M. Verdu']
['M. Verma', 'M. Verma.']
['M. Viscarret B']
['M. W. R. de V. Graham']
['M. Yacoob']
['M.A.Pexa']
['M.B. Patel']
['M.C. Basha']
['M.Cadiz']
['M.E. Schauff', 'M.Schauff']
['M.F. Tocker', 'M. F. Tocker']
['M.Giogn']
['M.J. Matthews', 'M. J. Matthews', 'Matthews', 'M.J.Matthews', 'm.J. Matthews']
['M.K.D. Cent.Biol.Cont Stn W. Bengal', 'M.K.D.']
['M.Kole']
['M.Lumanban']
['M.Ota']
['M.R. Lad', 'M R Lad']
['M.R.Wilson']
['M.S. Housley']
['M.v. Helden']
['MC Day']
['MKD. Cent.Biol.Cont.Sta.', 'MKD Cent.Biol.Cont.Sta. W. Bengal', 'M.K.D. Cent.Biol.Cont.Sta.W.Bengal']
['Madus, Tamburcre']
['Maharashtra']
['Maluise Trulp']
['Mandli Nerchowk']
['Marathwada Agri.Univ. Parbhani', 'Parbhani']
['Marietta Jauensis']
['Marner']
['Marshall']
['Masner', 'L. Masner']
['Mathews']
['Mavromoustakis', 'Mavtomoustakis']
['McKerian']
['Milumaban']
['Mirafens']
['Moyes, Rogers & Hiddleston']
['Mr. Awibowo']
['Mulaise']
['Mulucse Teub']
['Muner']
['N. Ashmole & M. Ashmole']
['N. Commodore']
['N. F. Johnson', 'N.Johnson']
['N. Hamadu']
['N. K. Munro']
['N. Kitito']
['N. Martin']
['N. Nameda']
['N. Waloff']
['N.C. Chatterjee', 'N.C. Chatterjee.']
['N.J.van Ronsburg']
['N.Larter']
['N.S.', 'J.S.N.', 'S.N. Lopez', 'S.N LopeI', 'S.N. Thakur', 'S N Thakur', 'J S N']
['Narayan']
['Nebim Uygun']
['Nedim Uygin', 'Nedim Uygun']
['Ngad Gul']
['Nick Larter']
['Nova Teutonia']
['Nowicki']
['Noyenji']
['Noyes, Rogers and Huddleston', 'Rogers Huddleston', 'Noyes Rogers', 'Rogers and Huddleston', 'Rogers, Huddleston', 'Noyes R. Huddleston', 'Rogers & Huddleston', 'Noyes Rogers Huddleston', 'Rogers']
['O W Richards', 'O. W. Richzads', 'O.W. Richards', 'D.W. Richards', 'O.W.Richards']
['O.S']
['OC Neser']
['Orstom']
['P Brun, L A Soares', 'A. P.', 'A.P.', 'P Brun, La Soares']
['P. De Barro']
['P. Entwhistle', 'P.Entwhistle']
['P. Hanson']
['P. K. Bera']
['P. Lechmere Guppy']
['P. Neuensch']
['P. R. Gupta']
['P. R. Stephen']
['P. Shishehbor']
['P. Solmi', 'Col. P. Solmi', 'P.Solmi (Univ Bologna)']
['P. Watanabe']
['P. Workman']
['P.A.Maddison', 'P.A. Maddison', 'P. A. Maddison']
['P.A.Pedata', 'P.A. Pedata', 'P.Pedata', 'P A Pedata', 'P. A. Pedata']
['PEET Survey']
['Padappai']
['Palanoon']
['Patasson']
['Percy Sladen Trust Exped.']
['Ph. Rickewaert leg.', 'Ph Rickewaert']
['Polasza, K']
['Polaszak']
['Poleozek']
['Pradesh', 'Andtira Pradesh', 'Aladhra Pradesh', 'Andhra Pradesh']
['Prapaltrella']
['Qinquan Lin']
['R V Southcott', 'R. V. Southcott']
['R. A. Lever', 'R.A. Lever', 'R.A.Lever']
['R. A. Syed', 'A.R.']
['R. Baehrmann']
['R. Bovly']
['R. Brown']
['R. Burly']
['R. C. Henderson']
['R. C. L. Perkins', 'R.C.L. Perkins Coll.', 'R.C.L.Perkins', 'R.C.L. Perkins']
['R. E. Rice']
['R. G. Fennah']
['R. Gabarra']
['R. Hill']
['R. L. Kluge', 'R L Kluge', 'R L kluge', 'R.L.Kluge', 'R.L. Kluge']
['R. M. Bull']
['R. Menzel']
['R. Morey']
['R. Paiva']
['R. Quarimo']
['R. Querino']
['R. R. Askew']
['R. R. Pandey']
['R. S. Stauffer']
['R. Tong.']
["R. W. B'nk", "FD. &R.W. B'nk", "F.D. & R.W. B'nk", "R W B'nk", "R.W. B'nK"]
['R. W. Bink', 'R.W Bink', 'R.W.Bink']
['R. W. Btnk']
['R. W. Paine']
['R.B.Benson']
['R.B.Kaur']
['R.C.LPerkins Collins']
['R.D.Eady']
['R.E.Turner', 'Turner', 'R.E. Turner', 'R. C. Turner', 'R. E. Turner']
['R.I. Sailer']
['R.J Barnett']
['R.J. Tillyard']
['R.L. Coe Coll.']
['R.L.Doutt', 'R.L. Doutt']
['R.M Nik-Moen??']
['R.M. Bink-Moenen', 'R M Bink-Moenen']
['R.P. MacFarlane', 'R. P. Macfarlane']
['R.S Baqnait']
['R.S.George', 'RS George', 'R S George', 'R. S. George', 'R.S. George', 'Rs George']
['R.W. Bok']
['RS George Sobo26', 'RS George Sobozk', 'RS George Soborb']
['Remo', 'El Remo']
['Ren']
['Richmand']
['Richmond']
['Rickey']
['Rogers & Hiddleston', 'Rogers, Hiddleston']
['Rubber Res. Inst.']
['Russel', 'Russell']
['Rust', 'E.W. Rust']
['S Neser', 'S. Neser']
['S Peck', 'S. Peck']
['S. Abd-Rabou']
['S. C. B', 'S.C.B.', 'S. C. B.', 'S C B']
['S. Celebes', 'S.Celebes']
['S. G. F. Brown', 'S. G. S. Brown', 'S. G. C. Brown', 'S.G.E BROWN']
['S. Heydon']
['S. J. Kazmi']
['S. Johnson']
['S. K. Jalali', 'S.k.', 'S. K. Jalall', 'S.K. Jalali', 'S.K', 'S.K.', 'S.K.Jalali']
['S. Laudonia']
['S. Leefmans', 'S . Leefmans', 's. Leefmans']
['S. Mahmood', 'S.Mahmood']
['S. Manzari, M. Moghaddam & Durbin', 'M. Moghaddam & Durbin', 'S.Manzari']
['S. Nesar']
['S. Neses']
['S. Noviarsy']
['S. Ovruski']
['S. P. Singh', 'S. Singh', 'S.P. Singh']
['S. Schmidt']
['S. Tripitsyn', 'S. Triapitsyn']
['S. Ulgenturk', 'S. ulgenturk']
['S. Viggiani']
['S. W. Wilson']
['S. WEPS']
['S. Weft']
['S.B Malaise Trulp', 'Malaise Trulp']
['S.B. Trufo', 'S B', 'S-B.', 'S.B', 'S. B', 'S.B. ', 'S. B.', 'S . B', 'S.B.']
['S.B. Zeya', 'S B Mulluise Tufo', 'S.B.Zeya', 'S B Maguire']
['S.C.S. Brown']
['S.Etienne']
['S.I. Kazmi']
['S.M. Alan']
['S.Nagarkatti & V.R.Phalak', 'V. R. Phalak', 'S.Nagarkatti']
['S.S.Islam', 'S S Islam']
['S.Triapitsyu', 'S. V. Triapitsyn', 'S. Truapitsyn']
['SB']
['SCB']
['SGC Brown']
['SGS Brown']
['SL']
['Saed Farni']
['Serini']
['Shafee']
['Shih Yuan Tung', 'col. Shih Yuan Tung']
['Shih, Ko']
['Shuja Uddia']
['Siddiv Singh']
['Signoret']
['Silesh G.', 'Sileshi G.']
['Smyguis Deb']
['Solan']
['Srinagar.']
['Subba Rao & Kaur']
['Sudhir Guwabati']
['Sudhir S']
['Sudhir Singh']
['Suhartawan']
['T Sankaran']
['T Williams', 'T. Williams']
['T. Allawi']
['T. F. Crowe']
['T. L. Erwin et al.', 'et al', 'TL Erwin et al.', 'T. L. Erwin', 'T.L. Erwin']
['T. Nadu']
['T. Wagner']
['T.H. Taylor Coll', 'T. H. C. Taylor', 'T.H Taylor Coll', 'T.H. Taylor', 'T.H.C. Taylor', 'T. H. Taylor', 'T.H.Taylor']
['T.T. Yiap']
['T.V. Subramaniam']
['T.V.Subnakaniam']
['T.W. K ', 'T.W.K ']
['T.W.Kirkpatrick']
['TL Erwin']
['TL Erwin (and others)']
['Thuroczy']
['Toraut']
['Trup']
['Univ. Catania']
['Univ.Milan']
['V Natskova', 'V. Natskova']
['V White', 'V. White']
['V. Jasnosh']
['V. N. Patel']
['V. Yasnosh']
['V.A.May']
['V.N.Rao']
['V.P.Mittal']
['V.V. Berezovskiy', 'Berezovskiy', 'V. Berezovskiy']
['Vardy', 'C Vardy', 'C.Vardy Col', 'c. vardy', 'C.Vardy', 'C. Vardy']
['Vicciani']
['Vig.&Hayat']
['Vist. Ferricae']
['Vntrlanharju']
['W. Godavari']
['W. Liebregts']
['W. M Selangor']
['W. Morjan']
['W. Samda']
['W. Tebragh']
['W. Thomson']
['W.A.Smith']
['W.B. Whitehead']
['W.C. Van Heurm']
['W.D. Perreira']
['W.H. Patterson', 'W.H.Patterson', 'h', 'W. H. Patterson']
['W.J. Roltsch']
['WR Ingram']
['Waage']
['Wadi Hayi']
['Wadif banf']
['Waters, M.S', 'M.S.']
['Weage']
['Westwood']
['Woring']
['Y. Ben Doy']
['Y. Ben-Dov', 'Y.Ben-Dov', 'Y. Ben Dov']
['Y. T. S.']
['Z Boucek', 'Z. Boucek']
['Zahruddin']
['[unclear]C. Waterhouse[/unclear]', 'c. Waterhouse', '[unclear][/unclear]', 'Waterhouse.', 'Waterhouse', 'C Waterhouse', 'C. O. Waterhouse', 'C.o. Waterhouse', 'C.O.Waterhouse', 'C.Waterhouse.', 'C.O. Waterhouse', 'C. Waterhouse', 'G. Waterhouse', 'C O Waterhouse', 'O. Waterhouse', 'C.Waterhouse', 'c. waterhouse', 'C. WATERHOUSE']
['b-- gellae[unclear][/unclear]', 'Enock[unclear][/unclear]']
['berezovsky']
['christchurch, ealing']
['col m.9. hill']
['de Sousa']
['del Pedata']
['det Matthews', 'Junais Matthews', 'Mattews', 'det. Matthews']
['det. by J.S. Noges, 1981']
['diana Girault', 'Diana']
['fred enock', 'Frwd Enock', 'Fredc Enock', 'FRED ENOCK', 'Enock', 'Fredc. Enock', 'FREDc. ENOCK', 'Fred Enock']
['g. kuschel', 'G. Kushel', 'G. Kuschel', 'G.Kuschel']
['ifnaphes']
['l. Arauz', 'L. Arauz']
['leg. Baki Ali', 'Leg. Baki Ali']
['nan']
['none']
['not shown', 'Not shown']
['not specified']
['risplys']
['white lily']

Create a dictionary using the 'best names' (here arbitrarily using the first name listed in each cluster for purposes of illustration + testing). Key should be incorrect name string, value is normalised name string.

In [17]:
name_dict = {}

for name_list in cluster_list:
    if len(name_list) > 1:
        for name in name_list:
            name_dict[name] = name_list[0]

for key, value in name_dict.items():
    print(key + ": " + value)

A. C. Eyles: A. C. Eyles
A.C. Eyles: A. C. Eyles
A. Harvey: A. Harvey
A Harvey: A. Harvey
A. Michelmore: A. Michelmore
A.Michelmore: A. Michelmore
A.P.G. Michelmore: A. Michelmore
A. Mohyuddin: A. Mohyuddin
A, Mohyuddin CIBC leg.: A. Mohyuddin
A.Mohyuddin: A. Mohyuddin
A. Mohyuddin CIBC: A. Mohyuddin
A Mohyuddin CIBC leg: A. Mohyuddin
A. Mohyuddin CIBC leg.: A. Mohyuddin
A. POLASZEK: A. POLASZEK
A. Polaszak: A. POLASZEK
Polaszek: A. POLASZEK
A Polaszek: A. POLASZEK
A. Polarsek: A. POLASZEK
A. Polaszek et al.: A. POLASZEK
A.Polsazek: A. POLASZEK
A. Polaszek: A. POLASZEK
A.Polaszek: A. POLASZEK
A. Polaslek: A. POLASZEK
A. Polac. E: A. Polac. E
A. Polac. E.: A. Polac. E
A. T. Barron: A. T. Barron
A.T.BARRION: A. T. Barron
A.T. Barrion: A. T. Barron
A.T.Barrion: A. T. Barron
A. Tullgren: A. Tullgren
A. Tullgren & Ahlberg: A. Tullgren
A.Broadbank: A.Broadbank
A. Broodbank: A.Broadbank
A.I. Steven: A.I. Steven
A.I.Steven: A.I. Steven
A.K.Walker: A.K.Walker
AK Walker: A.K.Walker
collinus Walker: A.K.Walker
Auripes Walker: A.K.Walker
N.A.Walker: A.K.Walker
A. K. Walker: A.K.Walker
N.A. Walker: A.K.Walker
A.K. Walker: A.K.Walker
H. K Walker: A.K.Walker
regulus Walker: A.K.Walker
A.P. Vü. g: A.P. Vü. g
A.P. col.: A.P. Vü. g
A P Prep: A.P. Vü. g
AP M 3i: AP M 3i
Ap: AP M 3i
AP: AP M 3i
B. Blackbourn: B. Blackbourn
B Blackbourn: B. Blackbourn
B. Franzman: B. Franzman
B.Franzmann: B. Franzman
B. Franzmann: B. Franzman
B. R. S. Rao: B. R. S. Rao
B . R . S . Rao: B. R. S. Rao
B.R.S. Rao: B. R. S. Rao
B. R. S Rao: B. R. S. Rao
B. R. S. Raodul: B. R. S. Raodul
B.R.S. : B. R. S. Raodul
B.R.S.: B. R. S. Raodul
B. R. Subba Ras: B. R. Subba Ras
B. R. Subba Rae: B. R. Subba Ras
B. Tripathi: B. Tripathi
G . Tripathi: B. Tripathi
G. Tripathi: B. Tripathi
B.F.U.P. Littes: B.F.U.P. Littes
B.F.U.P.Litter: B.F.U.P. Littes
B.G.Hill: B.G.Hill
B. Hill: B.G.Hill
B.HILL: B.G.Hill
B.M.May: B.M.May
B. M. May: B.M.May
B .M. May: B.M.May
B.M. May: B.M.May
B.Munir: B.Munir
B. Munir: B.Munir
B.R. Subba Rao (det. 1969): B.R. Subba Rao (det. 1969)
Subba Rao: B.R. Subba Rao (det. 1969)
B.Tshumakova: B.Tshumakova
B. Tshumakova: B.Tshumakova
Bahram Rasekh: Bahram Rasekh
Rasekh: Bahram Rasekh
Baki Ali (ABdul Baki)'s #A.d.: Baki Ali (ABdul Baki)'s #A.d.
Abdul Baki: Baki Ali (ABdul Baki)'s #A.d.
Baki Ali: Baki Ali (ABdul Baki)'s #A.d.
Baki Ali (Abdul-Baki): Baki Ali (ABdul Baki)'s #A.d.
Baki Ali's (Abdul-Baki's): Baki Ali (ABdul Baki)'s #A.d.
Baki Ali (Abdul-Baki)'s: Baki Ali (ABdul Baki)'s #A.d.
Boucek,Noyes: Boucek,Noyes
Boucek: Boucek,Noyes
Nayes & Boucek: Boucek,Noyes
C F Butcher: C F Butcher
C.F.Butcher: C F Butcher
C. F. Butcher: C F Butcher
C. H. Rendell: C. H. Rendell
M. Ashmole, H. Mendel, E. Thorpe: C. H. Rendell
H. Elekcioglu: C. H. Rendell
H. Evans: C. H. Rendell
H.Steinitz: C. H. Rendell
H. Sauke: C. H. Rendell
H. Clebsch: C. H. Rendell
H.Kajita: C. H. Rendell
J.H.M: C. H. Rendell
H. Clebsch.: C. H. Rendell
H. Nagaraja: C. H. Rendell
J. H. M.: C. H. Rendell
C. H. Rendall: C. H. Rendell
H. Compere: C. H. Rendell
H. Disney: C. H. Rendell
M.H. Campbell: C. H. Rendell
J. H. Glenn: C. H. Rendell
C.H.T. Townsend: C. H. Rendell
C,H.T. Townsend: C. H. Rendell
H Kajita: C. H. Rendell
C. H. Randall: C. H. Rendell
Cecil H. Ison.: C. H. Rendell
H. Kajitā: C. H. Rendell
J. J. H. Szent-Ivany: C. H. Rendell
H. Alemansoor: C. H. Rendell
H. Goulet: C. H. Rendell
H.E. Box: C. H. Rendell
H. T. Pagden: C. H. Rendell
S H Glenn: C. H. Rendell
C. H. T. Towsend: C. H. Rendell
H.L. Dozier: C. H. Rendell
G.H. Tripathi: C. H. Rendell
H.T.Pagden: C. H. Rendell
J.H.M.: C. H. Rendell
H. -P. Heckroth: C. H. Rendell
H. Steinitz: C. H. Rendell
H Clebsch: C. H. Rendell
H. T. Pagdeu: C. H. Rendell
H. J. Hockings: C. H. Rendell
H. Kajita: C. H. Rendell
H.L.Dozier: C. H. Rendell
C. J. Cilliers: C. J. Cilliers
C.J.Cilliers: C. J. Cilliers
C. Kudagamage: C. Kudagamage
C.Kudagamage: C. Kudagamage
C. Manolacha: C. Manolacha
C. Manolache: C. Manolacha
C. Miguel: C. Miguel
C. Migue: C. Miguel
C. Smee: C. Smee
C. Smee.: C. Smee
C. peter: C. peter
C. Peter: C. peter
C.B. WILLIAMS: C.B. WILLIAMS
C. B. Williams: C.B. WILLIAMS
C. B. Williams.: C.B. WILLIAMS
C.B.Williams: C.B. WILLIAMS
C.B Williams: C.B. WILLIAMS
C.B. Williams: C.B. WILLIAMS
C.I.B.C.: C.I.B.C.
C.I.B.C. station: C.I.B.C.
G.I.B.C: C.I.B.C.
C.J. Morning: C.J. Morning
C.J.Horning: C.J. Morning
C. J. Horning: C.J. Morning
C J Horning: C.J. Morning
C . J . Horning: C.J. Morning
C.J.C. Pool: C.J.C. Pool
M. C.J.C. Pool: C.J.C. Pool
C.L. Tan: C.L. Tan
C. L. Tan: C.L. Tan
C.L.Tan: C.L. Tan
C.V.Gannes: C.V.Gannes
C.V. Gannes: C.V.Gannes
G. V. Gannes: C.V.Gannes
Cent.Bio.Cont.Sta.W. Bengal: Cent.Bio.Cont.Sta.W. Bengal
Cent. Bio. Cont. Sta. W. Bengal: Cent.Bio.Cont.Sta.W. Bengal
D Jackson: D Jackson
D. Jackson: D Jackson
D.Jackson: D Jackson
D Smith: D Smith
D. Smith: D Smith
D. J. Taylor: D. J. Taylor
J.S.Taylor: D. J. Taylor
J.S. Taylor: D. J. Taylor
D.Gonzalez: D.Gonzalez
R. Gonzalez: D.Gonzalez
A. Gonzalez: D.Gonzalez
D.N. Brown: D.N. Brown
D. N. Brown: D.N. Brown
D.P Anneoke: D.P Anneoke
D. P. Annecke: D.P Anneoke
D.P.Annecke: D.P Anneoke
D.P. Annecke: D.P Anneoke
D.T.Fallaway: D.T.Fallaway
D.T Fullaway: D.T.Fallaway
D.T.Fullaway: D.T.Fallaway
Det. D. P. Annecke: Det. D. P. Annecke
D. Annecke: Det. D. P. Annecke
C.P. Annecke: Det. D. P. Annecke
annecke: Det. D. P. Annecke
Dhirkot, Azad Kashmir: Dhirkot, Azad Kashmir
Azad Kashmir: Dhirkot, Azad Kashmir
Dr. B. N. Blood: Dr. B. N. Blood
B.N. Blood: Dr. B. N. Blood
B.N.Blood: Dr. B. N. Blood
Dr B.N. Blood Coll: Dr. B. N. Blood
Dr. S. Leafmans: Dr. S. Leafmans
Dr. S. Leefmans: Dr. S. Leafmans
E F Riek: E F Riek
F.E.: E F Riek
E Hdez: E Hdez
E.Hdez: E Hdez
E. Hdez: E Hdez
E. Hdz: E Hdez
E. CHOUVAKHINA: E. CHOUVAKHINA
E. Chouvakhina: E. CHOUVAKHINA
E Chouvakhina: E. CHOUVAKHINA
E. Hernandez-Suarez: E. Hernandez-Suarez
E. Hernandez: E. Hernandez-Suarez
E. M. Hernandez: E. Hernandez-Suarez
E.M. Hernandez: E. Hernandez-Suarez
Polaszek/Hernandez-Suarez: E. Hernandez-Suarez
E. Hernandez-Suarez col.: E. Hernandez-Suarez
E.M. Hernandez-Suarez: E. Hernandez-Suarez
E.Hernandez-Suarez col: E. Hernandez-Suarez
E.Hernandez-Suarez: E. Hernandez-Suarez
E.Hernandez: E. Hernandez-Suarez
A. & E.M. Hernandez-Suarez: E. Hernandez-Suarez
Hernandez-Suarez: E. Hernandez-Suarez
E M hernandez: E. Hernandez-Suarez
E. Luft Albarracin: E. Luft Albarracin
E. Luft-Albarracin: E. Luft Albarracin
E.D.L. Matega: E.D.L. Matega
E.D.L.Matega: E.D.L. Matega
E. D. L. Mattega: E.D.L. Matega
E.E. Green: E.E. Green
E.E.Green: E.E. Green
E. E. Green: E.E. Green
E.R.Oatman: E.R.Oatman
E. R. Oatman: E.R.Oatman
E.W. Valentine: E.W. Valentine
E. W. Valentine: E.W. Valentine
j.s. noyes&e.w.valentine: E.W. Valentine
E.W.Valentie: E.W. Valentine
E.W Valentine: E.W. Valentine
E.W.Valentine: E.W. Valentine
EW Valentine: E.W. Valentine
EHdZ: EHdZ
EHdz: EHdZ
EHdt: EHdt
ehdt: EHdt
Encom. Div. Agric. Dept.: Encom. Div. Agric. Dept.
Agric: Encom. Div. Agric. Dept.
Entorm. Div. Agric. Dept: Encom. Div. Agric. Dept.
Entom. Div. Agric. Dept.: Encom. Div. Agric. Dept.
F. B. Bennett: F. B. Bennett
Merida F.D. Bennett: F. B. Bennett
Col F D Bennett: F. B. Bennett
F.Bennett: F. B. Bennett
F. Bennett: F. B. Bennett
F. D. B'nk: F. D. B'nk
F D B'nk: F. D. B'nk
F. D. Bannett: F. D. Bannett
F.D.BENNETT: F. D. Bannett
F. D. Bennett: F. D. Bannett
F.D. Bennett: F. D. Bannett
F D Bennett: F. D. Bannett
F.D.Bennett: F. D. Bannett
F.D Bennett: F. D. Bannett
F. Plaumann: F. Plaumann
F. Plaumann Coll: F. Plaumann
F. Pllaumann: F. Plaumann
F Plaumann: F. Plaumann
F. Plaumann coll: F. Plaumann
F Plaumann Coll: F. Plaumann
F.Plaumann: F. Plaumann
F. Plaumann Coll.: F. Plaumann
F. Playumann: F. Plaumann
F.D.Bink: F.D.Bink
F. Bink: F.D.Bink
F.D. Bink: F.D.Bink
F.W. Quednau: F.W. Quednau
F. W. Quednau: F.W. Quednau
Federal Land Dev. Authority, Pahang: Federal Land Dev. Authority, Pahang
Federal Land Dev. Authority: Federal Land Dev. Authority, Pahang
Filton & Noyes: Filton & Noyes
JS NOYES: Filton & Noyes
J.S.Noyes: Filton & Noyes
Rose / Noyes: Filton & Noyes
Noyes, Hiddleston: Filton & Noyes
J. S. Noyes: Filton & Noyes
J.S Noyes: Filton & Noyes
J. Noyes: Filton & Noyes
JS Noyes: Filton & Noyes
J.S. Noyes, PT: Filton & Noyes
J. S. Noyes.: Filton & Noyes
j s noyes: Filton & Noyes
J.S. Noyes MT/YPT: Filton & Noyes
J.Noyes: Filton & Noyes
J.S. Noyes: Filton & Noyes
J S Noyes: Filton & Noyes
J Noyes: Filton & Noyes
Fingal: Fingal
Hobart & Fingal: Fingal
Fredc Enoch: Fredc Enoch
FREDS ENOCH: Fredc Enoch
Fredc Encoh: Fredc Enoch
Fritz Plaumann.: Fritz Plaumann.
Fritz Plaumann: Fritz Plaumann.
G Burnip: G Burnip
G.Burnip: G Burnip
G Kohler: G Kohler
G. Köhler: G Kohler
G Köhler: G Kohler
G Tribe: G Tribe
G. Tribe: G Tribe
G. Scheibelveiter: G. Scheibelveiter
G. Scheibelreiter: G. Scheibelveiter
G. W. Ramsay: G. W. Ramsay
G.W. Ramsay: G. W. Ramsay
G.H. Corbett: G.H. Corbett
G.H.Corbett.: G.H. Corbett
G. H. Corbett: G.H. Corbett
G.H.Corbett: G.H. Corbett
EntDiv. per G.H.Corbett: G.H. Corbett
G.J. Snowball: G.J. Snowball
G. J.Snowball: G.J. Snowball
G.J.Snowball: G.J. Snowball
G.S. Cotterell: G.S. Cotterell
G,S, Cotterell: G.S. Cotterell
G. S. Cotterell: G.S. Cotterell
G.S.Cotterell: G.S. Cotterell
G. S. Cottereli: G.S. Cotterell
G.Salt.: G.Salt.
G. Salt: G.Salt.
GL Prinsloo: GL Prinsloo
G.L. Prinsloo: GL Prinsloo
G. L. Prinsloo: GL Prinsloo
H. J. Bishop: H. J. Bishop
HJ Bishop: H. J. Bishop
H. Roberts, MAFF: H. Roberts, MAFF
H. Roberts: H. Roberts, MAFF
H. Seyedoleslami: H. Seyedoleslami
H. Seyedoleslani: H. Seyedoleslami
H. W. Browning: H. W. Browning
H. Browning: H. W. Browning
H.P.Insley: H.P.Insley
H.O Insley: H.P.Insley
H.P. Insley: H.P.Insley
HP Insley: H.P.Insley
H. P.: H.P.Insley
H. P. Insley: H.P.Insley
M. P. Insley: H.P.Insley
H P Insley: H.P.Insley
H.P. Insleyi: H.P.Insley
H.P Insley: H.P.Insley
H.W.Simmons : H.W.Simmons
H.W.Simmonds: H.W.Simmons
H.W. Simmonds: H.W.Simmons
H. W. Simmonds: H.W.Simmons
Hack: Hack
C.U Hack: Hack
I. McBurney: I. McBurney
J McBurney: I. McBurney
J. McBurney: I. McBurney
I. WALKER: I. WALKER
walker: I. WALKER
Walker: I. WALKER
I. Walker: I. WALKER
I.G. Varela: I.G. Varela
I.G.Varela: I.G. Varela
I. G. Varela: I.G. Varela
J C Watt: J C Watt
J.C.Watt: J C Watt
J.C. Watt: J C Watt
J. C. Watt: J C Watt
J H Martin: J H Martin
J.H.Martin: J H Martin
J. Martin: J H Martin
J Martin: J H Martin
J.H. Martin: J H Martin
J Risbec: J Risbec
J. Risbec: J Risbec
J. Cardale: J. Cardale
J Cardale: J. Cardale
J. Erdös: J. Erdös
J. Erdos: J. Erdös
J. Etienne: J. Etienne
J.Etienne: J. Etienne
J. Etienne leg: J. Etienne
J. Ghesquiere: J. Ghesquiere
J Ghesquiere: J. Ghesquiere
J. Ghesquière: J. Ghesquiere
F. Ghesquiere: J. Ghesquiere
J. L. Froggatt: J. L. Froggatt
J.L. Froggatt: J. L. Froggatt
J.L Froggott: J. L. Froggatt
J.L.Froggatt: J. L. Froggatt
J. P. Kryger: J. P. Kryger
J.J. Kryger: J. P. Kryger
J. Peck: J. Peck
S & J Peck: J. Peck
J Peck: J. Peck
S&J Peck: J. Peck
J. S. Dugdale: J. S. Dugdale
J.S. Dugdale: J. S. Dugdale
J.S.Dugdale: J. S. Dugdale
J.B. Wodley: J.B. Wodley
J.B.Wooley: J.B. Wodley
J.C. Hutson: J.C. Hutson
J. C. Hutson: J.C. Hutson
J.C.Charles: J.C.Charles
J.C. Charles: J.C.Charles
J.K. Close: J.K. Close
J.K Close Call: J.K. Close
J.Munting: J.Munting
J. Munting: J.Munting
J.N. Thakur: J.N. Thakur
J. N. Thakur: J.N. Thakur
J.N.Thakur: J.N. Thakur
J.R. Bovell: J.R. Bovell
J.R. Borell: J.R. Bovell
JR Bovell: J.R. Bovell
J.S.Edwards: J.S.Edwards
J. S. Edwards: J.S.Edwards
J . S . Edwards: J.S.Edwards
J.T. Huber: J.T. Huber
Huber: J.T. Huber
J. T. Huber: J.T. Huber
J.T.Huber: J.T. Huber
J.T Huber: J.T. Huber
J.T.Knyger : J.T.Knyger
J.T.Kryger: J.T.Knyger
JHM & Ehdez: JHM & Ehdez
JHM: JHM & Ehdez
EHdez: JHM & Ehdez
Ehdez: JHM & Ehdez
Jian Huang: Jian Huang
Huang: Jian Huang
Karen Mogensen: Karen Mogensen
R.P. Karen Mogensen: Karen Mogensen
R. P. Karen Mogensen: Karen Mogensen
Karen Morgensen: Karen Mogensen
L A Mound: L A Mound
L. A. Mound: L A Mound
L.A. Mound: L A Mound
L.A. MOUND: L A Mound
L.A. Moud : L A Mound
L.A.Mound: L A Mound
L. Valencia: L. Valencia
Valencia col.: L. Valencia
L.Kirton.: L.Kirton.
L Kirton: L.Kirton.
Kirton: L.Kirton.
L.Kirton: L.Kirton.
L. Kirton: L.Kirton.
L.Shaltiel: L.Shaltiel
L. Shaltiel: L.Shaltiel
Li Chengde: Li Chengde
Li Chegde: Li Chengde
M C Day: M C Day
M. Day: M C Day
M. A. Ghani: M. A. Ghani
M.A. Ghanie: M. A. Ghani
M. A. Oliver: M. A. Oliver
H.A Oliver: M. A. Oliver
M. B. Potter: M. B. Potter
N.B.Potter: M. B. Potter
M. Cock: M. Cock
M.Cock: M. Cock
M. Hayat: M. Hayat
Hayat: M. Hayat
m hayat: M. Hayat
Coll.M.Hayat: M. Hayat
M Hayat: M. Hayat
M. Hayat.: M. Hayat
M.Hayat: M. Hayat
M hayat: M. Hayat
Coll. M. Hayat.: M. Hayat
M. I. Chacko: M. I. Chacko
M. J. Chacko: M. I. Chacko
M. Ishii - Eiterman: M. Ishii - Eiterman
Eiterman: M. Ishii - Eiterman
M. Noyes: M. Noyes
Noyes: M. Noyes
J S Noyes B M 1979-518: M. Noyes
J. M. Noyes: M. Noyes
ME Noyes: M. Noyes
M. Rifat Ulusay: M. Rifat Ulusay
M.Rifat Ulusay: M. Rifat Ulusay
M Rifat Ulusoy: M. Rifat Ulusay
M. Verma: M. Verma
M. Verma.: M. Verma
M.E. Schauff: M.E. Schauff
M.Schauff: M.E. Schauff
M.F. Tocker: M.F. Tocker
M. F. Tocker: M.F. Tocker
M.J. Matthews: M.J. Matthews
M. J. Matthews: M.J. Matthews
Matthews: M.J. Matthews
M.J.Matthews: M.J. Matthews
m.J. Matthews: M.J. Matthews
M.K.D. Cent.Biol.Cont Stn W. Bengal: M.K.D. Cent.Biol.Cont Stn W. Bengal
M.K.D.: M.K.D. Cent.Biol.Cont Stn W. Bengal
M.R. Lad: M.R. Lad
M R Lad: M.R. Lad
MKD. Cent.Biol.Cont.Sta.: MKD. Cent.Biol.Cont.Sta.
MKD Cent.Biol.Cont.Sta. W. Bengal: MKD. Cent.Biol.Cont.Sta.
M.K.D. Cent.Biol.Cont.Sta.W.Bengal: MKD. Cent.Biol.Cont.Sta.
Marathwada Agri.Univ. Parbhani: Marathwada Agri.Univ. Parbhani
Parbhani: Marathwada Agri.Univ. Parbhani
Masner: Masner
L. Masner: Masner
Mavromoustakis: Mavromoustakis
Mavtomoustakis: Mavromoustakis
N. F. Johnson: N. F. Johnson
N.Johnson: N. F. Johnson
N.C. Chatterjee: N.C. Chatterjee
N.C. Chatterjee.: N.C. Chatterjee
N.S.: N.S.
J.S.N.: N.S.
S.N. Lopez: N.S.
S.N LopeI: N.S.
S.N. Thakur: N.S.
S N Thakur: N.S.
J S N: N.S.
Nedim Uygin: Nedim Uygin
Nedim Uygun: Nedim Uygin
Noyes, Rogers and Huddleston: Noyes, Rogers and Huddleston
Rogers Huddleston: Noyes, Rogers and Huddleston
Noyes Rogers: Noyes, Rogers and Huddleston
Rogers and Huddleston: Noyes, Rogers and Huddleston
Rogers, Huddleston: Noyes, Rogers and Huddleston
Noyes R. Huddleston: Noyes, Rogers and Huddleston
Rogers & Huddleston: Noyes, Rogers and Huddleston
Noyes Rogers Huddleston: Noyes, Rogers and Huddleston
Rogers: Noyes, Rogers and Huddleston
O W Richards: O W Richards
O. W. Richzads: O W Richards
O.W. Richards: O W Richards
D.W. Richards: O W Richards
O.W.Richards: O W Richards
P Brun, L A Soares: P Brun, L A Soares
A. P.: P Brun, L A Soares
A.P.: P Brun, L A Soares
P Brun, La Soares: P Brun, L A Soares
P. Entwhistle: P. Entwhistle
P.Entwhistle: P. Entwhistle
P. Solmi: P. Solmi
Col. P. Solmi: P. Solmi
P.Solmi (Univ Bologna): P. Solmi
P.A.Maddison: P.A.Maddison
P.A. Maddison: P.A.Maddison
P. A. Maddison: P.A.Maddison
P.A.Pedata: P.A.Pedata
P.A. Pedata: P.A.Pedata
P.Pedata: P.A.Pedata
P A Pedata: P.A.Pedata
P. A. Pedata: P.A.Pedata
Ph. Rickewaert leg.: Ph. Rickewaert leg.
Ph Rickewaert: Ph. Rickewaert leg.
Pradesh: Pradesh
Andtira Pradesh: Pradesh
Aladhra Pradesh: Pradesh
Andhra Pradesh: Pradesh
R V Southcott: R V Southcott
R. V. Southcott: R V Southcott
R. A. Lever: R. A. Lever
R.A. Lever: R. A. Lever
R.A.Lever: R. A. Lever
R. A. Syed: R. A. Syed
A.R.: R. A. Syed
R. C. L. Perkins: R. C. L. Perkins
R.C.L. Perkins Coll.: R. C. L. Perkins
R.C.L.Perkins: R. C. L. Perkins
R.C.L. Perkins: R. C. L. Perkins
R. L. Kluge: R. L. Kluge
R L Kluge: R. L. Kluge
R L kluge: R. L. Kluge
R.L.Kluge: R. L. Kluge
R.L. Kluge: R. L. Kluge
R. W. B'nk: R. W. B'nk
FD. &R.W. B'nk: R. W. B'nk
F.D. & R.W. B'nk: R. W. B'nk
R W B'nk: R. W. B'nk
R.W. B'nK: R. W. B'nk
R. W. Bink: R. W. Bink
R.W Bink: R. W. Bink
R.W.Bink: R. W. Bink
R.E.Turner: R.E.Turner
Turner: R.E.Turner
R.E. Turner: R.E.Turner
R. C. Turner: R.E.Turner
R. E. Turner: R.E.Turner
R.L.Doutt: R.L.Doutt
R.L. Doutt: R.L.Doutt
R.M. Bink-Moenen: R.M. Bink-Moenen
R M Bink-Moenen: R.M. Bink-Moenen
R.P. MacFarlane: R.P. MacFarlane
R. P. Macfarlane: R.P. MacFarlane
R.S.George: R.S.George
RS George: R.S.George
R S George: R.S.George
R. S. George: R.S.George
R.S. George: R.S.George
Rs George: R.S.George
RS George Sobo26: RS George Sobo26
RS George Sobozk: RS George Sobo26
RS George Soborb: RS George Sobo26
Remo: Remo
El Remo: Remo
Rogers & Hiddleston: Rogers & Hiddleston
Rogers, Hiddleston: Rogers & Hiddleston
Russel: Russel
Russell: Russel
Rust: Rust
E.W. Rust: Rust
S Neser: S Neser
S. Neser: S Neser
S Peck: S Peck
S. Peck: S Peck
S. C. B: S. C. B
S.C.B.: S. C. B
S. C. B.: S. C. B
S C B: S. C. B
S. Celebes: S. Celebes
S.Celebes: S. Celebes
S. G. F. Brown: S. G. F. Brown
S. G. S. Brown: S. G. F. Brown
S. G. C. Brown: S. G. F. Brown
S.G.E BROWN: S. G. F. Brown
S. K. Jalali: S. K. Jalali
S.k.: S. K. Jalali
S. K. Jalall: S. K. Jalali
S.K. Jalali: S. K. Jalali
S.K: S. K. Jalali
S.K.: S. K. Jalali
S.K.Jalali: S. K. Jalali
S. Leefmans: S. Leefmans
S . Leefmans: S. Leefmans
s. Leefmans: S. Leefmans
S. Mahmood: S. Mahmood
S.Mahmood: S. Mahmood
S. Manzari, M. Moghaddam & Durbin: S. Manzari, M. Moghaddam & Durbin
M. Moghaddam & Durbin: S. Manzari, M. Moghaddam & Durbin
S.Manzari: S. Manzari, M. Moghaddam & Durbin
S. P. Singh: S. P. Singh
S. Singh: S. P. Singh
S.P. Singh: S. P. Singh
S. Tripitsyn: S. Tripitsyn
S. Triapitsyn: S. Tripitsyn
S. Ulgenturk: S. Ulgenturk
S. ulgenturk: S. Ulgenturk
S.B Malaise Trulp: S.B Malaise Trulp
Malaise Trulp: S.B Malaise Trulp
S.B. Trufo: S.B. Trufo
S B: S.B. Trufo
S-B.: S.B. Trufo
S.B: S.B. Trufo
S. B: S.B. Trufo
S.B. : S.B. Trufo
S. B.: S.B. Trufo
S . B: S.B. Trufo
S.B.: S.B. Trufo
S.B. Zeya: S.B. Zeya
S B Mulluise Tufo: S.B. Zeya
S.B.Zeya: S.B. Zeya
S B Maguire: S.B. Zeya
S.Nagarkatti & V.R.Phalak: S.Nagarkatti & V.R.Phalak
V. R. Phalak: S.Nagarkatti & V.R.Phalak
S.Nagarkatti: S.Nagarkatti & V.R.Phalak
S.S.Islam: S.S.Islam
S S Islam: S.S.Islam
S.Triapitsyu: S.Triapitsyu
S. V. Triapitsyn: S.Triapitsyu
S. Truapitsyn: S.Triapitsyu
Shih Yuan Tung: Shih Yuan Tung
col. Shih Yuan Tung: Shih Yuan Tung
Silesh G.: Silesh G.
Sileshi G.: Silesh G.
T Williams: T Williams
T. Williams: T Williams
T. L. Erwin et al.: T. L. Erwin et al.
et al: T. L. Erwin et al.
TL Erwin et al.: T. L. Erwin et al.
T. L. Erwin: T. L. Erwin et al.
T.L. Erwin: T. L. Erwin et al.
T.H. Taylor Coll: T.H. Taylor Coll
T. H. C. Taylor: T.H. Taylor Coll
T.H Taylor Coll: T.H. Taylor Coll
T.H. Taylor: T.H. Taylor Coll
T.H.C. Taylor: T.H. Taylor Coll
T. H. Taylor: T.H. Taylor Coll
T.H.Taylor: T.H. Taylor Coll
T.W. K : T.W. K
T.W.K : T.W. K
V Natskova: V Natskova
V. Natskova: V Natskova
V White: V White
V. White: V White
V.V. Berezovskiy: V.V. Berezovskiy
Berezovskiy: V.V. Berezovskiy
V. Berezovskiy: V.V. Berezovskiy
Vardy: Vardy
C Vardy: Vardy
C.Vardy Col: Vardy
c. vardy: Vardy
C.Vardy: Vardy
C. Vardy: Vardy
W.H. Patterson: W.H. Patterson
W.H.Patterson: W.H. Patterson
h: W.H. Patterson
W. H. Patterson: W.H. Patterson
Waters, M.S: Waters, M.S
M.S.: Waters, M.S
Y. Ben-Dov: Y. Ben-Dov
Y.Ben-Dov: Y. Ben-Dov
Y. Ben Dov: Y. Ben-Dov
Z Boucek: Z Boucek
Z. Boucek: Z Boucek
[unclear]C. Waterhouse[/unclear]: [unclear]C. Waterhouse[/unclear]
c. Waterhouse: [unclear]C. Waterhouse[/unclear]
[unclear][/unclear]: [unclear]C. Waterhouse[/unclear]
Waterhouse.: [unclear]C. Waterhouse[/unclear]
Waterhouse: [unclear]C. Waterhouse[/unclear]
C Waterhouse: [unclear]C. Waterhouse[/unclear]
C. O. Waterhouse: [unclear]C. Waterhouse[/unclear]
C.o. Waterhouse: [unclear]C. Waterhouse[/unclear]
C.O.Waterhouse: [unclear]C. Waterhouse[/unclear]
C.Waterhouse.: [unclear]C. Waterhouse[/unclear]
C.O. Waterhouse: [unclear]C. Waterhouse[/unclear]
C. Waterhouse: [unclear]C. Waterhouse[/unclear]
G. Waterhouse: [unclear]C. Waterhouse[/unclear]
C O Waterhouse: [unclear]C. Waterhouse[/unclear]
O. Waterhouse: [unclear]C. Waterhouse[/unclear]

In [18]:
for row in df1.index:
    try:
        df1.iloc[row,8] = name_dict.get(df1.iloc[row,8], df1.iloc[row,8])
        df1.iloc[row,9] = name_dict.get(df1.iloc[row,9], df1.iloc[row,9])
    except AttributeError:
        continue
df1

,subject_id,Day,Month,Year,Inwhatformatisthecollectiondate,Country,Wasthecountrynamespecificallystatedonthelabel,Aregeographiccoordinatespresentonthelabel,Collector1,Collector2,...,Day.1,EndMonth,EndYear,subject_CatalogueIRN,subject_MulIdentifier,subject_MulTitle,subject_MultimediaIRN,subject_EntCatBarcode,subject_SuperFamily,Expo
0,3327422,22,7 - July - VII,1980,The collection date is shown as a single date.,England,No,No,NaN,NaN,...,NaN,NaN,NaN,6500239,010156626_108834_1685214.jpg,010156626_108834_1685214,1482059,10156626,Chalcidoidea,3279
1,3327424,8,10 - October - X,1981,The collection date is shown as a single date.,England,No,No,S.B. Trufo,NaN,...,NaN,NaN,NaN,6496833,010156627_108834_1685214.jpg,010156627_108834_1685214,1478605,10156627,Chalcidoidea,3279
2,3327425,8,10 - October - X,1981,The collection date is shown as a single date.,United Kingdom,No,No,S.B. Trufo,NaN,...,NaN,NaN,NaN,6501602,010156628_108834_1685214.jpg,010156628_108834_1685214,1483423,10156628,Chalcidoidea,3279
3,3327427,8,10 - October - X,1982,The collection date is shown as a single date.,United Kingdom,No,No,S.B. Trufo,NaN,...,NaN,NaN,NaN,6494358,010156629_108834_1685214.jpg,010156629_108834_1685214,1476092,10156629,Chalcidoidea,3279
4,3327428,8,10 - October - X,1982,The collection date is shown as a single date.,United Kingdom,No,No,S.B. Trufo,NaN,...,Not Shown,10 - October - X,1982,6500671,010156630_108834_1685214.jpg,010156630_108834_1685214,1482491,10156630,Chalcidoidea,3279
5,3327430,8,10 - October - X,1981,The collection date is shown as a single date.,England,No,No,S.B. Trufo,NaN,...,NaN,NaN,NaN,6495639,010156631_108834_1685214.jpg,010156631_108834_1685214,1477415,10156631,Chalcidoidea,3279
6,3327431,27,8 - August - VIII,Only two digits shown,The collection date is shown as a single date.,Not Shown,No,No,fred enock,NaN,...,NaN,NaN,NaN,6496345,010156634_108834_1685214.jpg,010156634_108834_1685214,1478121,10156634,Chalcidoidea,3279
7,3327432,NaN,NaN,NaN,There is no collection date.,NaN,No,No,NaN,NaN,...,NaN,NaN,NaN,6499759,010156635_108834_1685214.jpg,010156635_108834_1685214,1481581,10156635,Chalcidoidea,3279
8,3327434,17,8 - August - VIII,NaN,The collection date is shown as a single date.,Not Shown,No,No,,NaN,...,NaN,NaN,NaN,6494094,010156636_108834_1685214.jpg,010156636_108834_1685214,1475774,10156636,Chalcidoidea,3279
9,3327435,23,NaN,NaN,The collection date is shown as a date range.,Not Shown,No,No,,NaN,...,23,7 - July - VII,2008,6501876,010156637_108834_1685214.jpg,010156637_108834_1685214,1483697,10156637,Chalcidoidea,3279
10,3327436,28,6 - June - VI,1911,The collection date is shown as a single date.,Not Shown,No,No,NaN,NaN,...,NaN,NaN,NaN,6497097,010156638_108834_1685214.jpg,010156638_108834_1685214,1478867,10156638,Chalcidoidea,3279
11,3327437,12,8 - August - VIII,1914,The collection date is shown as a single date.,United Kingdom,No,No,[unclear]C. Waterhouse[/unclear],NaN,...,NaN,NaN,NaN,6498222,010156641_108834_1737739.jpg,010156641_108834_1737739,1480007,10156641,Chalcidoidea,3279
12,3327439,16,9 - September - IX,1986,The collection date is shown as a single date.,India,Yes,No,NaN,NaN,...,NaN,NaN,NaN,6501040,010156642_108834_1737739.jpg,010156642_108834_1737739,1482861,10156642,Chalcidoidea,3279
13,3327440,16,9 - September - IX,Only two digits shown,The collection date is shown as a single date.,India,Yes,No,Saed Farni,NaN,...,NaN,NaN,NaN,6496010,010156643_108834_1737739.jpg,010156643_108834_1737739,1477786,10156643,Chalcidoidea,3279
14,3327441,5,7 - July - VII,1982,The collection date is shown as a date range.,Scotland,NaN,No,R.S.George,NaN,...,10,7 - July - VII,1982,6494739,010156644_108834_1737739.jpg,010156644_108834_1737739,1476523,10156644,Chalcidoidea,3279
15,3327442,5,7 - July - VII,1982,The collection date is shown as a date range.,Scotland,Yes,No,NaN,NaN,...,10,7 - July - VII,1982,6502531,010156645_108834_1737739.jpg,010156645_108834_1737739,1484352,10156645,Chalcidoidea,3279
16,3327444,Not Shown,Not Shown,1992,The collection date is shown as a single date.,NaN,Yes,No,,,...,NaN,NaN,NaN,6497059,010156646_108834_1737739.jpg,010156646_108834_1737739,1478830,10156646,Chalcidoidea,3279
17,3327445,17,10 - October - X,1982,The collection date is shown as a single date.,Philippines,Yes,No,NaN,NaN,...,NaN,NaN,NaN,6500481,010156647_108834_1737739.jpg,010156647_108834_1737739,1482301,10156647,Chalcidoidea,3279
18,3327446,5,8 - August - VIII,1910,The collection date is shown as a single date.,United Kingdom,No,No,[unclear]C. Waterhouse[/unclear],NaN,...,NaN,NaN,NaN,6499666,010156649_108834_1708013.jpg,010156649_108834_1708013,1481485,10156649,Chalcidoidea,3279
19,3327447,8,8 - August - VIII,1910,The collection date is shown as a single date.,Wales,No,No,[unclear]C. Waterhouse[/unclear],NaN,...,NaN,NaN,NaN,6497676,010156650_108834_1708013.jpg,010156650_108834_1708013,1479457,10156650,Chalcidoidea,3279
20,3327449,NaN,NaN,NaN,There is no collection date.,Not Shown,No,No,NaN,NaN,...,NaN,NaN,NaN,6498513,010156651_108834_1708013.jpg,010156651_108834_1708013,1480297,10156651,Chalcidoidea,3279
21,3327450,8,10 - October - X,1981,The collection date is shown as a single date.,United Kingdom,No,No,SB,NaN,...,NaN,NaN,NaN,6501593,010156654_108834_1617759.jpg,010156654_108834_1617759,1483414,10156654,Chalcidoidea,3279
22,3327452,8,10 - October - X,1982,The collection date is shown as a single date.,England,No,No,S.B. Trufo,NaN,...,NaN,NaN,NaN,6494353,010156655_108834_1617759.jpg,010156655_108834_1617759,1476084,10156655,Chalcidoidea,3279
23,3327453,8,6 - June - VI,1975,The collection date is shown as a single date.,England,Yes,No,M. Noyes,NaN,...,NaN,NaN,NaN,6496516,010156657_108834_1708013.jpg,010156657_108834_1708013,1478291,10156657,Chalcidoidea,3279
24,3327454,31,7 - July - VII,1977,The collection date is shown as a single date.,England,Yes,No,M. Noyes,M. Noyes,...,NaN,NaN,NaN,6502315,010156658_108834_1708013.jpg,010156658_108834_1708013,1484136,10156658,Chalcidoidea,3279
25,3327455,NaN,NaN,NaN,There is no collection date.,Not Shown,No,No,fred enock,,...,NaN,NaN,NaN,6495107,010156659_108834_1708013.jpg,010156659_108834_1708013,1476885,10156659,Chalcidoidea,3279
26,3327457,8,10 - October - X,1981,The collection date is shown as a single date.,United Kingdom,No,No,NaN,[unclear]C. Waterhouse[/unclear],...,NaN,NaN,NaN,6495820,010156660_108834_1708013.jpg,010156660_108834_1708013,1477596,10156660,Chalcidoidea,3279
27,3327458,17,8 - August - VIII,1909,The collection date is shown as a single date.,NaN,No,No,[unclear]C. Waterhouse[/unclear],NaN,...,NaN,NaN,NaN,6501365,010156661_108834_1708013.jpg,010156661_108834_1708013,1483186,10156661,Chalcidoidea,3279
28,3327460,NaN,NaN,NaN,There is no collection date.,Not Shown,No,No,,,...,NaN,NaN,NaN,6499219,010156663_108834_1708013.jpg,010156663_108834_1708013,1481014,10156663,Chalcidoidea,3279
29,3327461,Not Shown,Not Shown,1919,There is no collection date.,NaN,NaN,No,,,...,Not Shown,Not Shown,Not Shown,6500129,010156664_108834_1708013.jpg,010156664_108834_1708013,1481950,10156664,Chalcidoidea,3279
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4074,3317487,Not Shown,7 - July - VII,1981,The collection date is shown as a single date.,United Kingdom,No,No,Vardy,NaN,...,NaN,NaN,NaN,6501292,010156548_108834_1737739.jpg,010156548_108834_1737739,1483113,10156548,Chalcidoidea,2438
4075,3317489,NaN,NaN,NaN,There is no collection date.,Not Shown,No,No,NaN,NaN,...,NaN,NaN,NaN,6502524,010156550_108834_1737739.jpg,010156550_108834_1737739,1484345,10156550,Chalcidoidea,2438
4076,3317490,NaN,NaN,NaN,There is no collection date.,Not Shown,No,No,NaN,NaN,...,NaN,NaN,NaN,6494727,010156551_108834_1737739.jpg,010156551_108834_1737739,1476511,10156551,Chalcidoidea,2438
4077,3317492,27,6 - June - VI,1984,The collection date is shown as a date range.,United Kingdom,Yes,No,Waage,M.J. Matthews,...,4,7 - July - VII,1984,6500486,010156552_108834_1737739.jpg,010156552_108834_1737739,1482306,10156552,Chalcidoidea,2438
4078,3317493,27,10 - October - X,Only two digits shown,The collection date is shown as a single date.,NaN,No,No,NaN,NaN,...,NaN,NaN,NaN,6481382,010156585_108834_469404.jpg,010156585_108834_469404,1432015,10156585,Chalcidoidea,2438
4079,3317494,27,6 - June - VI,1984,The collection date is shown as a date range.,United Kingdom,Yes,No,Weage,M.J. Matthews,...,4,7 - July - VII,1984,6480925,010156586_108834_469404.jpg,010156586_108834_469404,1431529,10156586,Chalcidoidea,2438
4080,3317496,27,6 - June - VI,1984,The collection date is shown as a date range.,United Kingdom,Yes,No,Waage,M.J. Matthews,...,4,7 - July - VII,1984,6480290,010156587_108834_469404.jpg,010156587_108834_469404,1430862,10156587,Chalcidoidea,2438
4081,3317497,15,8 - August - VIII,Only two digits shown,The collection date is shown as a single date.,Not Shown,No,No,NaN,NaN,...,NaN,NaN,NaN,6482648,010156589_108834_469404.jpg,010156589_108834_469404,1433390,10156589,Chalcidoidea,2438
4082,3317498,10,8 - August - VIII,1981,The collection date is shown as a single date.,Not Shown,No,No,NaN,NaN,...,NaN,NaN,NaN,6481400,010156590_108834_469404.jpg,010156590_108834_469404,1432034,10156590,Chalcidoidea,2438
4083,3317499,Not Shown,7 - July - VII,Only two digits shown,The collection date is shown as a single date.,NaN,No,No,NaN,NaN,...,NaN,NaN,NaN,6482197,010156591_108834_469404.jpg,010156591_108834_469404,1432904,10156591,Chalcidoidea,2438
4084,3317502,NaN,NaN,NaN,There is no collection date.,Not Shown,No,No,NaN,NaN,...,NaN,NaN,NaN,6480906,010156593_108834_469404.jpg,010156593_108834_469404,1431509,10156593,Chalcidoidea,2438
4085,3317504,8,10 - October - X,1987,The collection date is shown as a single date.,Not Shown,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6480360,010156594_108834_469404.jpg,010156594_108834_469404,1430937,10156594,Chalcidoidea,2438
4086,3317505,Not Shown,9 - September - IX,NaN,The collection date is shown as a single date.,United Kingdom,No,No,SCB,NaN,...,NaN,NaN,NaN,6481104,010156595_108834_469404.jpg,010156595_108834_469404,1431720,10156595,Chalcidoidea,2438
4087,3317506,8,10 - October - X,Only two digits shown,The collection date is shown as a single date.,United Kingdom,No,No,NaN,NaN,...,NaN,NaN,NaN,6482023,010156596_108834_469404.jpg,010156596_108834_469404,1432716,10156596,Chalcidoidea,2438
4088,3317508,8,10 - October - X,Only two digits shown,The collection date is shown as a single date.,NaN,No,No,NaN,NaN,...,NaN,NaN,NaN,6482590,010156597_108834_469404.jpg,010156597_108834_469404,1433331,10156597,Chalcidoidea,2438
4089,3317509,Not Shown,Not Shown,NaN,The collection date is shown as a single date.,Not Shown,No,No,NaN,NaN,...,NaN,NaN,NaN,6497968,010156601_108834_1685214.jpg,010156601_108834_1685214,1479749,10156601,Chalcidoidea,2438
4090,3317511,NaN,NaN,1981,The collection date is shown as a single date.,Not Shown,No,No,NaN,NaN,...,NaN,NaN,NaN,6501505,010156602_108834_1685214.jpg,010156602_108834_1685214,1483326,10156602,Chalcidoidea,2438
4091,3317512,19,9 - September - IX,Only two digits shown,The collection date is shown as a single date.,Not Shown,No,No,[unclear]C. Waterhouse[/unclear],NaN,...,NaN,NaN,NaN,6495971,010156603_108834_1685214.jpg,010156603_108834_1685214,1477747,10156603,Chalcidoidea,2438
4092,3317513,26,8 - August - VIII,Only two digits shown,The collection date is shown as a single date.,Not Shown,No,No,[unclear]C. Waterhouse[/unclear],NaN,...,NaN,NaN,NaN,6494989,010156604_108834_1685214.jpg,010156604_108834_1685214,1476769,10156604,Chalcidoidea,2438
4093,3317515,NaN,NaN,1981,The collection date is shown as a date range.,Not Shown,No,No,S.B. Trufo,NaN,...,Not Shown,10 - October - X,1981,6480751,010156605_108834_469404.jpg,010156605_108834_469404,1431344,10156605,Chalcidoidea,2438
4094,3317516,8,10 - October - X,1982,The collection date is shown as a single date.,Not Shown,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6501869,010156609_108834_1685214.jpg,010156609_108834_1685214,1483690,10156609,Chalcidoidea,2438
4095,3317518,Not Shown,Not Shown,2011,The collection date is shown as a single date.,Not Shown,No,No,Trup,NaN,...,NaN,NaN,NaN,6495378,010156610_108834_1685214.jpg,010156610_108834_1685214,1477155,10156610,Chalcidoidea,2438
4096,3317519,8,10 - October - X,NaN,The collection date is shown as a single date.,United Kingdom,No,No,NaN,NaN,...,NaN,NaN,NaN,6500941,010156611_108834_1685214.jpg,010156611_108834_1685214,1482762,10156611,Chalcidoidea,2438
4097,3317520,NaN,NaN,NaN,The collection date is shown as a single date.,NaN,No,No,S.B. Trufo,NaN,...,NaN,NaN,NaN,6497513,010156612_108834_1685214.jpg,010156612_108834_1685214,1479290,10156612,Chalcidoidea,2438
4098,3317521,7,9 - September - IX,NaN,The collection date is shown as a single date.,NaN,No,No,[unclear]C. Waterhouse[/unclear],NaN,...,NaN,NaN,NaN,6498858,010156613_108834_1685214.jpg,010156613_108834_1685214,1480654,10156613,Chalcidoidea,2438
4099,3317522,NaN,NaN,NaN,The collection date is shown as a single date.,NaN,No,No,S.B. Trufo,NaN,...,NaN,NaN,NaN,6494354,010156617_108834_1685214.jpg,010156617_108834_1685214,1476086,10156617,Chalcidoidea,2438
4100,3317524,8,10 - October - X,Only two digits shown,The collection date is shown as a single date.,United Kingdom,No,No,NaN,NaN,...,NaN,NaN,NaN,6500235,010156618_108834_1685214.jpg,010156618_108834_1685214,1482055,10156618,Chalcidoidea,2438
4101,3317525,17,7 - July - VII,1911,The collection date is show as a single date.,United Kingdom,No,No,[unclear]C. Waterhouse[/unclear],NaN,...,NaN,NaN,NaN,6496823,010156619_108834_1685214.jpg,010156619_108834_1685214,1478595,10156619,Chalcidoidea,2438
4102,3317527,8,10 - October - X,NaN,The collection date is shown as a single date.,NaN,No,No,S.B. Trufo,NaN,...,NaN,NaN,NaN,6498247,010156620_108834_1685214.jpg,010156620_108834_1685214,1480032,10156620,Chalcidoidea,2438
4103,3317529,NaN,NaN,NaN,The collection date is shown as a date range.,United Kingdom,No,No,S.B. Trufo,NaN,...,Not Shown,10 - October - X,Only two digits shown,6494694,010156625_108834_1685214.jpg,010156625_108834_1685214,1476478,10156625,Chalcidoidea,2438